.vscode/
.hintrc

# Project files
*.pem
*.key
node_modules/
padlock/*
!padlock/server.d.ts

# Config files
server_config.json
vip.txt
reserved_names.txt
blacklist.txt
cooldown_overrides.txt
webhook_url.txt
mutes.txt
pxps.txt
stats.txt
uidtoken.txt
.uidtoken
server.db
server.db-shm
server.db-wal

# Backup files
place
change
change2

# Logs
*.pxpslog.txt
modlog.txt