:root, button, html, input, select {
    font-family: var(--garlic-bread-font-pixel)
}

input {
    color: black;
    border: var(--pixel-border);
    outline: none;
    height: 38px;
    padding: 4px;
}

#loadingScreen {
    background: white;
}

#modal {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 261px;
    padding: 21px;
    border: var(--pixel-border);
    box-shadow: var(--pixel-box-shadow);
}

.modal-footer > img {
    display: none;
}

.modal-install {
    border: var(--pixel-border);
	height: 40px;
	align-self: center;
	width: 80%;
    line-height: 28px;
    cursor: pointer;
    padding: 4px;
}

.modal-install:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 0px), rgb(255, 255, 255);
}

/* Buttons */
.layout {
    border: var(--pixel-border);
    box-shadow: var(--pixel-box-shadow);
    font-family: var(--garlic-bread-font-pixel);
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 46px;
	height: 46px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: var(--font-size);
    pointer-events: all;
    position: absolute;
    z-index: 5;
}

.layout:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 0px), rgb(255, 255, 255);
}

#helpbtn {
	bottom: 20px;
    left: calc(50% - 140px);
}
#helpbtn > svg {
    height: 24px;
}

#chatbtn {
	bottom: 20px;
    right: calc(50% - 140px);
    line-height: 15px;
	text-align: center;
}

#closebtn {
	top: 20px;
	left: 20px;
	text-align: center;
	font-size: 25px;
	line-height: 8px;
}

#discordbtn { display: none !important; }

.close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    font-size: 20px;
    cursor: pointer;
    border-left: var(--pixel-border);
    border-bottom: var(--pixel-border);
}

#posel {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    text-align: center;
    z-index: 6;
    pointer-events: none;
    color: white;
    font-family: var(--garlic-bread-font-pixel);
    font-size: 14px;
}

.messageOptions {
	height: 38px;
	aspect-ratio: 1/1;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    font-weight: bolder;
    border: var(--pixel-border);
}

.chat-input-panel {
    background-color: white;
    border-top: var(--pixel-border);
    padding-top: 8px;
}

.channels-options {
    border-bottom: var(--pixel-border);
}

/* TODO: Unjank */
.live-chat-header1 {
    display: none;
}
.live-chat-header2 {
    display: block !important;
}

#playerIcon {
	color: black;
}

#onlineCounter {
    color: black;
}

#place {
    width: 142px;
    height: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: var(--pixel-color-orange);
    font-size: 14px;
    border: var(--pixel-border);
    box-shadow: var(--pixel-box-shadow);
    font-family: var(--garlic-bread-font-pixel);
}
#place:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0 0), var(--pixel-color-orange);
}

#chatPanel {
    border: var(--pixel-border);
    background: white;
    padding: 8px;
}
.chat-header {
    margin-right: 24px;
}

.toastMenu {
    border: var(--pixel-border);
    box-shadow: var(--pixel-box-shadow);
    padding: 21px;
    background-color: white;
}

.theme-light, :root {
 --rem320:20rem;
 --rem192:12rem;
 --rem144:9rem;
 --rem128:8rem;
 --rem96:6rem;
 --rem88:5.5rem;
 --rem64:4rem;
 --rem56:3.5rem;
 --rem48:3rem;
 --rem40:2.5rem;
 --rem36:2.25rem;
 --rem32:2rem;
 --rem28:1.75rem;
 --rem26:1.625rem;
 --rem24:1.5rem;
 --rem22:1.375rem;
 --rem20:1.25rem;
 --rem18:1.125rem;
 --rem16:1rem;
 --rem15:0.9375rem;
 --rem14:0.875rem;
 --rem12:0.75rem;
 --rem10:0.625rem;
 --rem8:0.5rem;
 --rem6:0.375rem;
 --rem4:0.25rem;
 --rem2:0.125rem;
 --rem1:0.0625rem;
 --spacer-2xs:0.25rem;
 --spacer-xs:0.5rem;
 --spacer-sm:0.75rem;
 --spacer-md:1rem;
 --spacer-lg:1.5rem;
 --spacer-xl:2rem;
 --spacer-2xl:3rem;
 --spacer-a-px:0px;
 --spacer-button-lg-px:var(--spacer-lg);
 --spacer-button-md-px:var(--spacer-lg);
 --spacer-button-sm-px:var(--spacer-md);
 --spacer-input-padding-left:0px;
 --spacer-input-padding-top:0px;
 --spacer-label-default:0px;
 --spacer-switch-input-active-pl:0px;
 --size-2xs:0.25rem;
 --size-xs:0.5rem;
 --size-sm:0.75rem;
 --size-md:1rem;
 --size-lg:1.5rem;
 --size-xl:2rem;
 --size-2xl:3rem;
 --size-3xl:4rem;
 --size-4xl:6rem;
 --size-5xl:8rem;
 --size-button-lg-h:3.375rem;
 --size-button-md-h:2.75rem;
 --size-button-sm-h:2.125rem;
 --size-button-xs-h:1.375rem;
 --size-switch-input-h:1.25rem;
 --size-switch-input-w:2rem;
 --line-sm:0.0625rem;
 --line-md:0.125rem;
 --line-lg:0.25rem;
 --line-a-focus:0px;
 --line-a-outline-moz:0.0625rem;
 --line-a-outline-wb:0.3125rem;
 --line-button-lg-border:0.0625rem;
 --line-button-md-border:0.0625rem;
 --line-button-sm-border:0.0625rem;
 --line-button-xs-border:0.0625rem;
 --line-button-border-activated:0.0625rem;
 --line-input-border:var(--line-sm);
 --radius-sm:0.25rem;
 --radius-lg:2rem;
 --radius-full:624.9375rem;
 --radius-accordion-size:var(--radius-sm);
 --font-10-15-bold:normal 700 0.625rem/0.9375rem var(--font-sans);
 --font-button-lg:normal 700 1.125rem/1.375rem var(--font-sans);
 --font-button-md:normal 700 1rem/1.25rem var(--font-sans);
 --font-button-sm:normal 700 0.875rem/1.125rem var(--font-sans);
 --font-button-xs:normal 700 0.75rem/0.875rem var(--font-sans);
 --font-label-default:var(--font-10-15-bold);
 --misc-accordion-border:1px solid var(--color-tone-5);
 --misc-accordion-open-list-style-type:disclosure-open;
 --misc-accordion-closed-list-style-type:disclosure-closed;
 --misc-divider-margin:0.5rem auto;
 --misc-label-text-transform:uppercase;
 --misc-label-letter-spacing:0.5px;
 --color-primary-visited:#660099;
 --color-primary-background:#24a0ed;
 --color-primary-background-hover:#006cbf;
 --color-danger-content:#ea0027;
 --color-success-content:#46d160;
 --color-global-black:#000000;
 --color-global-white:#ffffff;
 --color-global-orangered:#D93A00;
 --color-global-alienblue:#0079d3;
 --color-global-darkblue:#1d2535;
 --color-tone-1:#1a1a1b;
 --color-tone-2:#6a6d6f;
 --color-tone-3:#878a8c;
 --color-tone-4:#d3d6da;
 --color-tone-5:#edeff1;
 --color-tone-6:#f6f7f8;
 --color-tone-7:#ffffff;
 --color-action-primary:var(--color-primary-background);
 --color-action-secondary:var(--color-primary-background-hover);
 --color-action-upvote:var(--color-global-orangered);
 --color-action-downvote:#7193ff;
 --color-alert-positive:var(--color-success-content);
 --color-alert-negative:var(--color-danger-content);
 --color-alert-caution:#ffb000;
 --color-identity-admin:var(--color-global-orangered);
 --color-identity-moderator:#46d160;
 --color-identity-self:#0dd3bb;
 --color-identity-coins:#ddbd37;
 --color-category-live:var(--color-global-orangered);
 --color-category-nsfw:#ff3881;
 --color-category-spoiler:var(--color-tone-1);
 --color-ui-canvas:var(--color-tone-5);
 --color-ui-modalbackground:var(--color-tone-7);
 --color-opacity-highlight:linear-gradient(#006cbf1a, var(--color-tone-6));
 --color-opacity-08:#1a1a1b14;
 --color-opacity-50:#00000080;
 --color-scrim:#1a1a1b4d;
 --color-a-default:var(--color-primary-background-hover);
 --color-a-hover:var(--color-primary-background-hover);
 --color-a-visited:var(--color-primary-background-hover);
 --color-button-overlay-focus:#ffffff1a;
 --color-button-overlay-active:#00000014;
 --color-button-primary-background-hover:var(--color-primary-background);
 --color-button-primary-background-disabled:var(--color-tone-6);
 --color-button-primary-border-hover:transparent;
 --color-button-primary-border-active:transparent;
 --color-button-primary-border-activated:transparent;
 --color-button-primary-border-disabled:transparent;
 --color-button-primary-text-disabled:var(--color-tone-2);
 --color-button-secondary-background:transparent;
 --color-button-secondary-background-focus:transparent;
 --color-button-secondary-background-hover:transparent;
 --color-button-secondary-background-disabled:var(--color-tone-6);
 --color-button-secondary-background-activated:transparent;
 --color-button-secondary-border:var(--color-primary-background-hover);
 --color-button-secondary-border-hover:var(--color-primary-background-hover);
 --color-button-secondary-border-active:var(--color-primary-background-hover);
 --color-button-secondary-border-activated:var(--color-primary-background-hover);
 --color-button-secondary-border-disabled:var(--color-tone-2);
 --color-button-secondary-text:var(--color-primary-background-hover);
 --color-button-secondary-text-disabled:var(--color-tone-2);
 --color-button-secondary-text-activated:var(--color-button-secondary-text);
 --color-button-tertiary-background:var(--color-tone-6);
 --color-button-tertiary-background-focus:var(--color-tone-6);
 --color-button-tertiary-background-hover:var(--color-tone-6);
 --color-button-tertiary-background-disabled:var(--color-tone-6);
 --color-button-tertiary-background-activated:var(--color-tone-6);
 --color-button-tertiary-border-hover:transparent;
 --color-button-tertiary-border-active:transparent;
 --color-button-tertiary-text:var(--color-primary-background-hover);
 --color-button-tertiary-text-disabled:var(--color-tone-2);
 --color-button-tertiary-text-activated:var(--color-primary-background-hover);
 --color-button-plain-background-hover:transparent;
 --color-button-plain-background-disabled:var(--color-tone-7);
 --color-button-plain-background-activated:transparent;
 --color-button-plain-border-hover:transparent;
 --color-button-plain-border-active:transparent;
 --color-button-plain-text:var(--color-primary-background-hover);
 --color-button-plain-text-disabled:var(--color-tone-2);
 --color-button-plain-text-activated:var(--color-primary-background-hover);
 --color-divider-default:var(--color-tone-5);
 --color-input-default:var(--color-tone-6);
 --color-input-hover:var(--color-primary-background-hover);
 --color-input-border:var(--color-tone-5);
 --color-input-text:var(--color-tone-1);
 --color-input-helper-text:var(--color-tone-1);
 --color-label-default:var(--color-tone-1);
 --color-switch-input-background-default:var(--color-tone-3);
 --color-switch-input-background-checked:var(--color-global-alienblue);
 --color-switch-input-background-disabled:var(--color-tone-6);
 --color-switch-input-background-checked-disabled:var(--color-tone-5);
 --color-switch-input-background-hover:var(--color-tone-3);
 --color-switch-input-background-checked-hover:var(--color-global-alienblue);
 --elevation-xs:0 0.0625rem 0.125rem 0 #00000040;
 --elevation-sm:0 0.0625rem 0.25rem 0 #00000026,0 0.25rem 0.25rem 0 #00000026;
 --elevation-md:0 0.25rem 0.5rem 0 #0000001a,0 0.375rem 0.75rem 0 #00000040;
 --elevation-lg:0 0.75rem 0.75rem 0 #00000026,0 1rem 2rem 0 #00000040;
 --elevation-focus-ring:0 0 0 0.25rem var(--color-global-alienblue);
 --font-sans:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
 --font-mono:Noto Mono,Menlo,Monaco,Consolas,monospace;
 --font-title-h0:normal 500 1.625rem/2rem var(--font-sans);
 --font-title-h1:normal 500 1.375rem/1.625rem var(--font-sans);
 --font-title-h2:normal 500 1.25rem/1.5rem var(--font-sans);
 --font-title-h3:normal 500 1.125rem/1.375rem var(--font-sans);
 --font-title-h4:normal 500 1rem/1.25rem var(--font-sans);
 --font-title-h5:normal 500 0.875rem/1.125rem var(--font-sans);
 --font-title-h6:normal 500 0.75rem/1rem var(--font-sans);
 --font-body:0.875rem;
 --font-small:0.75rem;
 --font-code:0.875rem;
 --font-subheading:0.75rem;
 --font-label:0.625rem;
 --font-button-b1:normal bold 1.125rem/1.375rem var(--font-sans);
 --font-button-b2:normal bold 1rem/1.25rem var(--font-sans);
 --font-button-b3:normal bold 0.875rem/1.125rem var(--font-sans);
 --font-button-b4:normal bold 0.75rem/0.875rem var(--font-sans);
 --color-gradient-orangeyellow:linear-gradient(89.94deg, #ec0623 0%, #ff8717 100%);
 --color-gradient-bluepink:linear-gradient(89.94deg, #51b9ff 0%, #7785ff 52.6%, #b279ff 73.96%, #ff81ed 100%);
 --boxshadow-modal:0px 2px 15px rgba(26, 26, 27, 0.3);
 --boxshadow-navigation:0px 4px 14px rgba(0, 0, 0, 0.1);
 --boxshadow-tooltip:0 1px 4px rgba(0, 0, 0, 0.15),0 4px 4px rgba(0, 0, 0, 0.15);
 color-scheme:light
}
.theme-light dialog::backdrop,
:root dialog::backdrop {
 --color-dialog-background:#00000080
}
.theme-dark {
 --color-primary-visited:#c58af9;
 --color-primary-background:#006cbf;
 --color-primary-background-hover:#24a0ed;
 --color-tone-1:#d7dadc;
 --color-tone-2:#818384;
 --color-tone-3:#565758;
 --color-tone-4:#3a3a3c;
 --color-tone-5:#272729;
 --color-tone-6:#1a1a1b;
 --color-tone-7:#121213;
 --color-identity-coins:#ffe600;
 --color-ui-canvas:#050505;
 --color-ui-modalbackground:var(--color-tone-6);
 --color-opacity-50:#d7dadc80;
 --color-scrim:#0000004d;
 --elevation-xs:0 0.0625rem 0.125rem 0 #000000ab;
 --elevation-sm:0 0.0625rem 0.25rem 0 #00000054,0 0.25rem 0.25rem 0 #00000054;
 --elevation-md:0 0.25rem 0.5rem 0 #00000033,0 0.375rem 0.75rem 0 #00000080;
 --elevation-lg:0 0.75rem 0.75rem 0 #00000033,0 1rem 2rem 0 #00000080;
 --boxshadow-modal:0px 2px 15px rgba(0, 0, 0, 0.3);
 --boxshadow-tooltip:0 1px 4px rgba(0, 0, 0, 0.33),0 4px 4px rgba(0, 0, 0, 0.33);
 color-scheme:dark
}
.theme-dark dialog::backdrop {
 --color-dialog-background:#d7dadc80
}
.theme-beta,
.theme-light.theme-beta {
 --spacer-a-px:0.125rem;
 --spacer-button-lg-px:var(--spacer-md);
 --spacer-button-md-px:var(--spacer-md);
 --spacer-button-sm-px:var(--spacer-sm);
 --spacer-input-padding-left:var(--spacer-md);
 --spacer-input-padding-top:var(--spacer-2xs);
 --spacer-label-default:var(--spacer-md);
 --spacer-switch-input-active-pl:var(--spacer-xs);
 --size-banner-height:var(--size-rem40);
 --size-button-lg-h:var(--size-2xl);
 --size-button-md-h:2.5rem;
 --size-button-sm-h:var(--size-xl);
 --size-button-xs-h:var(--size-xl);
 --size-switch-input-h:var(--size-xl);
 --size-switch-input-w:var(--size-2xl);
 --line-a-focus:var(--line-md);
 --line-a-outline-moz:0px;
 --line-a-outline-wb:0px;
 --line-button-lg-border:var(--line-sm);
 --line-button-md-border:var(--line-sm);
 --line-button-sm-border:var(--line-sm);
 --line-button-xs-border:var(--line-sm);
 --line-button-border-activated:var(--line-lg);
 --line-input-border:var(--line-lg);
 --radius-accordion-size:0px;
 --font-10:normal undefined null/null var(--font-sans);
 --font-12:normal undefined null/null var(--font-sans);
 --font-14:normal undefined null/null var(--font-sans);
 --font-16:normal undefined null/null var(--font-sans);
 --font-18:normal undefined null/null var(--font-sans);
 --font-20:normal undefined null/null var(--font-sans);
 --font-24:normal undefined null/null var(--font-sans);
 --font-32:normal undefined null/null var(--font-sans);
 --font-48:normal undefined null/null var(--font-sans);
 --font-64:normal undefined null/null var(--font-sans);
 --font-title-h0:var(--font-64);
 --font-title-h1:var(--font-32);
 --font-title-h2:var(--font-24);
 --font-title-h3:var(--font-18);
 --font-title-h4:var(--font-16);
 --font-title-h5:var(--font-14);
 --font-title-h6:var(--font-12);
 --font-14-20-regular:normal 400 0.875rem/1.25rem var(--font-sans);
 --font-14-20-semibold:normal 600 0.875rem/1.25rem var(--font-sans);
 --font-16-20-regular:normal 400 1rem/1.25rem var(--font-sans);
 --font-12-16-regular:normal 400 0.75rem/1rem var(--font-sans);
 --font-12-16-semibold:normal 600 0.75rem/1rem var(--font-sans);
 --font-button-lg:var(--font-14-20-semibold);
 --font-button-md:var(--font-14-20-semibold);
 --font-button-sm:var(--font-12-16-semibold);
 --font-label-default:var(--font-12-16-regular);
 --misc-accordion-border:0;
 --misc-accordion-open-list-style-type:none;
 --misc-accordion-closed-list-style-type:none;
 --misc-divider-margin:0;
 --misc-label-text-transform:capitalize;
 --misc-label-letter-spacing:initial;
 --blur-sm:0.25rem;
 --blur-normal:0.5rem;
 --blur-md:0.75rem;
 --blur-lg:1rem;
 --blur-xl:1.5rem;
 --blur-2xl:2.5rem;
 --blur-3xl:4rem;
 --color-pizzaRed:#ef5350;
 --color-global-brand-orangered:#FF4500;
 --color-global-focus:#47B0DB;
 --color-interactive-content-disabled:#00000040;
 --color-interactive-background-disabled:#0000000d;
 --color-interactive-pressed:#00000029;
 --color-neutral-content:#2A3C42;
 --color-neutral-content-disabled:#D6D6D6;
 --color-neutral-content-weak:#576F76;
 --color-neutral-content-strong:#0F1A1C;
 --color-neutral-background:#ffffff;
 --color-neutral-background-selected:#EAEDEF;
 --color-neutral-background-weak:#F9FAFA;
 --color-neutral-background-medium:#F8F8F8;
 --color-neutral-background-strong:#ffffff;
 --color-neutral-background-hover:#F2F4F5;
 --color-neutral-border:#00000033;
 --color-neutral-border-medium:#00000080;
 --color-neutral-border-weak:#0000001a;
 --color-neutral-border-strong:#0F1A1C;
 --color-primary:#0045AC;
 --color-primary-hover:#003584;
 --color-primary-visited:#8700B5;
 --color-primary-onBackground:#ffffff;
 --color-primary-onBackground-selected:#ffffff;
 --color-primary-background:#0045AC;
 --color-primary-background-hover:#003584;
 --color-primary-background-selected:#00255D;
 --color-secondary:#0F1A1C;
 --color-secondary-hover:#000000;
 --color-secondary-weak:#576F76;
 --color-secondary-onBackground:#000000;
 --color-secondary-background:#EAEDEF;
 --color-secondary-background-hover:#E2E7E9;
 --color-secondary-background-selected:#D2DADD;
 --color-danger-background:#EB001F;
 --color-danger-background-disabled:#FFCCD2;
 --color-danger-background-hover:#A50016;
 --color-danger-content:#A50016;
 --color-danger-content-hover:#7E0011;
 --color-danger-content-default:#ffffff;
 --color-brand-background:#D93A00;
 --color-brand-onBackground:#ffffff;
 --color-brand-background-hover:#962900;
 --color-media-background:#00000099;
 --color-media-onbackground:#ffffff;
 --color-media-background-hover:#000000cc;
 --color-media-onbackground-disabled:#ffffff40;
 --color-media-border-selected:#ffffff;
 --color-media-background-selected:#000000cc;
 --color-success-content:#0A6000;
 --color-success-hover:#084A00;
 --color-success-onBackground:#ffffff;
 --color-success-background:#0E8A00;
 --color-success-background-hover:#0A6000;
 --color-warning-content:#665505;
 --color-warning-content-hover:#504104;
 --color-warning-onBackground:#000000;
 --color-warning-background:#DBAF00;
 --color-warning-background-hover:#8F7407;
 --color-upvote-content:#962900;
 --color-upvote-content-weak:var(--color-global-brand-orangered);
 --color-upvote-disabled:#9629004d;
 --color-upvote-onBackground:#ffffff;
 --color-upvote-background:#D93A00;
 --color-upvote-background-hover:#962900;
 --color-upvote-background-disabled:#D93A004d;
 --color-downvote-content:#453BB5;
 --color-downvote-content-weak:#6A5CFF;
 --color-downvote-disabled:#453BB54d;
 --color-downvote-onBackground:#ffffff;
 --color-downvote-background:#6A5CFF;
 --color-downvote-background-hover:#453BB5;
 --color-downvote-background-disabled:#6A5CFF4d;
 --color-brand-gradient-default:linear-gradient(180deg, #D93A00ff, #db3b00ff 30%, #962900ff 100%);
 --color-brand-gradient-default-highlight:linear-gradient(258deg, #db3f0000 80%, #D93A00ff 100%);
 --color-brand-gradient-hover:linear-gradient(180deg, #e23d00ff 15%, #cb3600ff 49%, #b43000ff 100%);
 --color-brand-gradient-hover-highlight:linear-gradient(323deg, #cb360000 65%, #cb3600ff 100%);
 --color-brand-gradient-active:linear-gradient(180deg, #cd3700ff, #db3b00ff 68%, #D93A00ff 100%);
 --color-brand-gradient-active-highlight:linear-gradient(83deg, #db3f0000 80%, #D93A00ff 100%);
 --color-gradient-media:linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
 --color-gradient-media-strong:linear-gradient(180deg, #00000000, #000000cc 60%, #000000e6 100%);
 --color-transparent-background-hover:#82959B1a;
 --color-global-black:#000000;
 --color-global-white:#ffffff;
 --color-global-orangered:#D93A00;
 --color-global-alienblue:#1870F4;
 --color-global-darkblue:#131F23;
 --color-tone-1:#131313;
 --color-tone-2:#434343;
 --color-tone-3:#ACACAC;
 --color-tone-4:#E4E4E4;
 --color-tone-5:#F2F2F2;
 --color-tone-6:#F8F8F8;
 --color-tone-7:#ffffff;
 --color-action-upvote:#D93A00;
 --color-action-downvote:#6A5CFF;
 --color-alert-caution:#8F7407;
 --color-identity-admin:#D93A00;
 --color-identity-moderator:#0E8A00;
 --color-identity-self:#008675;
 --color-identity-coins:#DBAF00;
 --color-category-live:#D93A00;
 --color-category-nsfw:#E00096;
 --color-category-spoiler:var(--color-tone-1);
 --color-ui-canvas:var(--color-tone-5);
 --color-ui-modalbackground:var(--color-neutral-background-strong);
 --color-avatar-gradient:linear-gradient(0deg, #D2DADDff, #ffffffff 75%);
 --color-opacity-highlight:linear-gradient(#00255D1a, var(--color-tone-6));
 --color-opacity-08:#13131314;
 --color-opacity-50:#00000080;
 --color-scrim:#00000099;
 --color-scrim-strong:#000000cc;
 --color-scrim-gradient:linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
 --color-online:#55BD46;
 --color-a-default:var(--color-primary);
 --color-a-hover:var(--color-primary-hover);
 --color-a-visited:var(--color-primary-visited);
 --color-banner-plain:var(--color-neutral-background-strong);
 --color-banner-plain-inverted:var(--color-neutral-content-strong);
 --color-banner-error:var(--color-danger-background);
 --color-banner-caution:var(--color-warning-background);
 --color-banner-success:var(--color-success-background);
 --color-banner-brand:var(--color-brand-background);
 --color-banner-plain-text:var(--color-neutral-content);
 --color-banner-plain-inverted-text:var(--color-neutral-background-weak);
 --color-banner-error-text:var(--color-danger-onBackground);
 --color-banner-caution-text:var(--color-warning-onBackground);
 --color-banner-caution-hover:var(--color-warning-background-hover);
 --color-banner-success-text:var(--color-success-onBackground);
 --color-banner-brand-text:var(--color-brand-onBackground);
 --color-button-overlay-focus:transparent;
 --color-button-overlay-active:transparent;
 --color-button-border-width:tomato;
 --color-button-border-width-activated:tomato;
 --color-button-primary-background-hover:var(--color-primary-background-hover);
 --color-button-primary-background-activated:var(--color-primary-background-selected);
 --color-button-primary-background-disabled:var(--color-interactive-background-disabled);
 --color-button-primary-border-hover:var(--color-primary-background);
 --color-button-primary-border-active:var(--color-primary-background-hover);
 --color-button-primary-text-disabled:var(--color-interactive-content-disabled);
 --color-button-primary-text-activated:var(--color-primary-onBackground-selected);
 --color-button-secondary-background:var(--color-secondary-background);
 --color-button-secondary-background-focus:var(--color-secondary-background);
 --color-button-secondary-background-hover:var(--color-secondary-background-hover);
 --color-button-secondary-background-disabled:var(--color-interactive-background-disabled);
 --color-button-secondary-background-activated:var(--color-secondary-background-selected);
 --color-button-secondary-border:transparent;
 --color-button-secondary-border-hover:var(--color-secondary-background);
 --color-button-secondary-border-active:var(--color-secondary-background-hover);
 --color-button-secondary-border-activated:transparent;
 --color-button-secondary-border-disabled:transparent;
 --color-button-secondary-text:var(--color-neutral-content-strong);
 --color-button-secondary-text-disabled:var(--color-interactive-content-disabled);
 --color-button-secondary-text-activated:var(--color-secondary-onBackground);
 --color-button-tertiary-background:transparent;
 --color-button-tertiary-background-focus:transparent;
 --color-button-tertiary-background-hover:var(--color-secondary-background-hover);
 --color-button-tertiary-background-disabled:transparent;
 --color-button-tertiary-background-activated:var(--color-neutral-content);
 --color-button-tertiary-border-hover:var(--color-secondary-background);
 --color-button-tertiary-border-active:var(--color-secondary-background-hover);
 --color-button-tertiary-text:var(--color-neutral-content-strong);
 --color-button-tertiary-text-disabled:var(--color-neutral-content-disabled);
 --color-button-tertiary-text-activated:var(--color-neutral-background);
 --color-button-plain-background-hover:var(--color-secondary-background-hover);
 --color-button-plain-background-disabled:transparent;
 --color-button-plain-background-activated:var(--color-secondary-background-selected);
 --color-button-plain-border-hover:var(--color-secondary-background);
 --color-button-plain-border-active:var(--color-secondary-background-hover);
 --color-button-plain-text:var(--color-neutral-content-strong);
 --color-button-plain-text-disabled:var(--color-interactive-content-disabled);
 --color-button-plain-text-activated:var(--color-secondary-onBackground);
 --color-button-primary-border-activated:var(--color-primary-background);
 --color-button-plain-inverted-background-activated:var(--color-neutral-content);
 --color-button-plain-inverted-text-activated:var(--color-neutral-background);
 --color-button-media-border-color-activated:var(--color-media-border-selected);
 --color-divider-default:var(--color-neutral-border);
 --color-input-default:var(--color-secondary-background);
 --color-input-hover:var(--color-secondary-background-hover);
 --color-input-border:transparent;
 --color-input-text:var(--color-neutral-content-strong);
 --color-input-helper-text:var(--color-neutral-content-weak);
 --color-label-default:var(--color-neutral-content-weak);
 --color-shimmer-background:#00000008;
 --color-shimmer-gradient-overlay:linear-gradient(to right, #00000000, #00000005 20%, #0000000f 50%, #00000008 70%, #00000000 100%);
 --color-switch-input-background-pressed-scrim:var(--color-interactive-pressed);
 --color-switch-input-background-handle:var(--color-global-white);
 --color-switch-input-background-handle-disabled:var(--color-secondary-background);
 --color-switch-input-background-default:var(--color-secondary-background);
 --color-switch-input-background-default-hover:var(--color-secondary-background-hover);
 --color-switch-input-background-default-disabled:var(--color-interactive-background-disabled);
 --color-switch-input-background-checked:var(--color-primary-background);
 --color-switch-input-background-checked-hover:var(--color-primary-background-hover);
 --color-switch-input-background-checked-disabled:var(--color-interactive-content-disabled);
 --color-tooltip-bg-neutral:var(--color-neutral-background-strong);
 --color-tooltip-text-neutral:var(--color-neutral-content);
 --color-tooltip-bg-inverted:var(--color-neutral-content);
 --color-tooltip-text-inverted:var(--color-neutral-background);
 --color-tooltip-bg-primary:var(--color-primary-background);
 --color-tooltip-text-primary:var(--color-primary-onBackground);
 --elevation-sm-inset:inset 0 0.0625rem 0.125rem 0 #00000021;
 --elevation-button-focus:var(--elevation-focus-ring);
 --elevation-switch-input-default-inset:var(--elevation-sm-inset)
}
.theme-dark .theme-beta,
.theme-dark.theme-beta {
 --color-pizzaRed:#c62828;
 --color-global-brand-orangered:#FF4500;
 --color-global-focus:#007FAE;
 --color-interactive-content-disabled:#ffffff40;
 --color-interactive-background-disabled:#ffffff0d;
 --color-interactive-pressed:#ffffff29;
 --color-neutral-content:#B8C5C9;
 --color-neutral-content-disabled:#303030;
 --color-neutral-content-weak:#82959B;
 --color-neutral-content-strong:#F2F4F5;
 --color-neutral-background:#0B1416;
 --color-neutral-background-selected:#1A282D;
 --color-neutral-background-weak:#04090A;
 --color-neutral-background-medium:#131313;
 --color-neutral-background-strong:#0F1A1C;
 --color-neutral-background-hover:#131F23;
 --color-neutral-border:#ffffff33;
 --color-neutral-border-medium:#ffffff80;
 --color-neutral-border-weak:#ffffff1a;
 --color-neutral-border-strong:#F2F4F5;
 --color-primary:#629FFF;
 --color-primary-hover:#A7CCFF;
 --color-primary-visited:#D55EFF;
 --color-primary-background:#0045AC;
 --color-primary-background-hover:#1870F4;
 --color-primary-background-selected:#629FFF;
 --color-primary-onBackground:#ffffff;
 --color-primary-onBackground-selected:#000000;
 --color-secondary:#F2F4F5;
 --color-secondary-hover:#ffffff;
 --color-secondary-weak:#82959B;
 --color-secondary-onBackground:#ffffff;
 --color-secondary-background:#1A282D;
 --color-secondary-background-hover:#223237;
 --color-secondary-background-selected:#33464C;
 --color-danger-background:#A50016;
 --color-danger-background-disabled:#3A0008;
 --color-danger-background-hover:#EB001F;
 --color-danger-content:#FF6E80;
 --color-danger-content-hover:#FFADB8;
 --color-success-content:#55BD46;
 --color-success-hover:#A3E398;
 --color-success-onBackground:#ffffff;
 --color-success-background:#0A6000;
 --color-success-background-hover:#0E8A00;
 --color-warning-content:#DBAF00;
 --color-warning-content-hover:#FADB61;
 --color-warning-onBackground:#000000;
 --color-warning-background:#DBAF00;
 --color-warning-background-hover:#FADB61;
 --color-upvote-content:#FE7C53;
 --color-upvote-content-weak:var(--color-global-brand-orangered);
 --color-upvote-disabled:#FE7C534d;
 --color-upvote-onBackground:#ffffff;
 --color-upvote-background:#D93A00;
 --color-upvote-background-hover:#962900;
 --color-upvote-background-disabled:#D93A004d;
 --color-downvote-content:#988EFF;
 --color-downvote-content-weak:#6A5CFF;
 --color-downvote-disabled:#988EFF4d;
 --color-downvote-onBackground:#ffffff;
 --color-downvote-background:#453BB5;
 --color-downvote-background-hover:#453BB5;
 --color-downvote-background-disabled:#6A5CFF4d;
 --color-tone-1:#F2F2F2;
 --color-tone-2:#ACACAC;
 --color-tone-3:#434343;
 --color-tone-4:#303030;
 --color-tone-5:#1E1E1E;
 --color-tone-6:#131313;
 --color-tone-7:#080808;
 --color-ui-canvas:#080808;
 --color-ui-modalbackground:var(--color-neutral-background-strong);
 --color-avatar-gradient:linear-gradient(0deg, #2A3C42ff, #0B1416ff 75%);
 --color-transparent-background-hover:#667A801a;
 --color-opacity-50:#F2F2F280;
 --color-online:#55BD46;
 --color-button-primary-border-activated:transparent;
 --color-button-plain-inverted-activated-text:var(--color-neutral-background);
 --color-shimmer-background:#ffffff08;
 --color-shimmer-gradient-overlay:linear-gradient(to right, #ffffff00, #ffffff05 20%, #ffffff0f 50%, #ffffff08 70%, #ffffff00 100%)
}
.theme-light.theme-rpl,
.theme-rpl {
 --spacer-a-px:0.125rem;
 --spacer-button-lg-px:var(--spacer-md);
 --spacer-button-md-px:var(--spacer-md);
 --spacer-button-sm-px:var(--spacer-sm);
 --spacer-input-padding-left:var(--spacer-md);
 --spacer-input-padding-top:var(--spacer-2xs);
 --spacer-label-default:var(--spacer-md);
 --spacer-switch-input-active-pl:var(--spacer-xs);
 --size-banner-height:var(--size-rem40);
 --size-button-lg-h:var(--size-2xl);
 --size-button-md-h:2.5rem;
 --size-button-sm-h:var(--size-xl);
 --size-button-xs-h:var(--size-xl);
 --size-switch-input-h:var(--size-xl);
 --size-switch-input-w:var(--size-2xl);
 --line-a-focus:var(--line-md);
 --line-a-outline-moz:0px;
 --line-a-outline-wb:0px;
 --line-button-lg-border:var(--line-sm);
 --line-button-md-border:var(--line-sm);
 --line-button-sm-border:var(--line-sm);
 --line-button-xs-border:var(--line-sm);
 --line-button-border-activated:var(--line-lg);
 --line-input-border:var(--line-lg);
 --radius-accordion-size:0px;
 --font-10:normal undefined null/null var(--font-sans);
 --font-12:normal undefined null/null var(--font-sans);
 --font-14:normal undefined null/null var(--font-sans);
 --font-16:normal undefined null/null var(--font-sans);
 --font-18:normal undefined null/null var(--font-sans);
 --font-20:normal undefined null/null var(--font-sans);
 --font-24:normal undefined null/null var(--font-sans);
 --font-32:normal undefined null/null var(--font-sans);
 --font-48:normal undefined null/null var(--font-sans);
 --font-64:normal undefined null/null var(--font-sans);
 --font-title-h0:var(--font-64);
 --font-title-h1:var(--font-32);
 --font-title-h2:var(--font-24);
 --font-title-h3:var(--font-18);
 --font-title-h4:var(--font-16);
 --font-title-h5:var(--font-14);
 --font-title-h6:var(--font-12);
 --font-14-20-regular:normal 400 0.875rem/1.25rem var(--font-sans);
 --font-14-20-semibold:normal 600 0.875rem/1.25rem var(--font-sans);
 --font-16-20-regular:normal 400 1rem/1.25rem var(--font-sans);
 --font-12-16-regular:normal 400 0.75rem/1rem var(--font-sans);
 --font-12-16-semibold:normal 600 0.75rem/1rem var(--font-sans);
 --font-button-lg:var(--font-14-20-semibold);
 --font-button-md:var(--font-14-20-semibold);
 --font-button-sm:var(--font-12-16-semibold);
 --font-label-default:var(--font-12-16-regular);
 --misc-accordion-border:0;
 --misc-accordion-open-list-style-type:none;
 --misc-accordion-closed-list-style-type:none;
 --misc-divider-margin:0;
 --misc-label-text-transform:capitalize;
 --misc-label-letter-spacing:initial;
 --blur-sm:0.25rem;
 --blur-normal:0.5rem;
 --blur-md:0.75rem;
 --blur-lg:1rem;
 --blur-xl:1.5rem;
 --blur-2xl:2.5rem;
 --blur-3xl:4rem;
 --color-pizzaRed:#ef5350;
 --color-global-brand-orangered:#FF4500;
 --color-global-focus:#47B0DB;
 --color-interactive-content-disabled:#00000040;
 --color-interactive-background-disabled:#0000000d;
 --color-interactive-pressed:#00000029;
 --color-neutral-content:#2A3C42;
 --color-neutral-content-disabled:#D6D6D6;
 --color-neutral-content-weak:#576F76;
 --color-neutral-content-strong:#0F1A1C;
 --color-neutral-background:#ffffff;
 --color-neutral-background-selected:#EAEDEF;
 --color-neutral-background-weak:#F9FAFA;
 --color-neutral-background-medium:#F8F8F8;
 --color-neutral-background-strong:#ffffff;
 --color-neutral-background-hover:#F2F4F5;
 --color-neutral-border:#00000033;
 --color-neutral-border-medium:#00000080;
 --color-neutral-border-weak:#0000001a;
 --color-neutral-border-strong:#0F1A1C;
 --color-primary:#0045AC;
 --color-primary-hover:#003584;
 --color-primary-visited:#8700B5;
 --color-primary-onBackground:#ffffff;
 --color-primary-onBackground-selected:#ffffff;
 --color-primary-background:#0045AC;
 --color-primary-background-hover:#003584;
 --color-primary-background-selected:#00255D;
 --color-secondary:#0F1A1C;
 --color-secondary-hover:#000000;
 --color-secondary-weak:#576F76;
 --color-secondary-onBackground:#000000;
 --color-secondary-background:#EAEDEF;
 --color-secondary-background-hover:#E2E7E9;
 --color-secondary-background-selected:#D2DADD;
 --color-danger-background:#EB001F;
 --color-danger-background-disabled:#FFCCD2;
 --color-danger-background-hover:#A50016;
 --color-danger-content:#A50016;
 --color-danger-content-hover:#7E0011;
 --color-danger-content-default:#ffffff;
 --color-brand-background:#D93A00;
 --color-brand-onBackground:#ffffff;
 --color-brand-background-hover:#962900;
 --color-media-background:#00000099;
 --color-media-onbackground:#ffffff;
 --color-media-background-hover:#000000cc;
 --color-media-onbackground-disabled:#ffffff40;
 --color-media-border-selected:#ffffff;
 --color-media-background-selected:#000000cc;
 --color-success-content:#0A6000;
 --color-success-hover:#084A00;
 --color-success-onBackground:#ffffff;
 --color-success-background:#0E8A00;
 --color-success-background-hover:#0A6000;
 --color-warning-content:#665505;
 --color-warning-content-hover:#504104;
 --color-warning-onBackground:#000000;
 --color-warning-background:#DBAF00;
 --color-warning-background-hover:#8F7407;
 --color-upvote-content:#962900;
 --color-upvote-content-weak:var(--color-global-brand-orangered);
 --color-upvote-disabled:#9629004d;
 --color-upvote-onBackground:#ffffff;
 --color-upvote-background:#D93A00;
 --color-upvote-background-hover:#962900;
 --color-upvote-background-disabled:#D93A004d;
 --color-downvote-content:#453BB5;
 --color-downvote-content-weak:#6A5CFF;
 --color-downvote-disabled:#453BB54d;
 --color-downvote-onBackground:#ffffff;
 --color-downvote-background:#6A5CFF;
 --color-downvote-background-hover:#453BB5;
 --color-downvote-background-disabled:#6A5CFF4d;
 --color-brand-gradient-default:linear-gradient(180deg, #D93A00ff, #db3b00ff 30%, #962900ff 100%);
 --color-brand-gradient-default-highlight:linear-gradient(258deg, #db3f0000 80%, #D93A00ff 100%);
 --color-brand-gradient-hover:linear-gradient(180deg, #e23d00ff 15%, #cb3600ff 49%, #b43000ff 100%);
 --color-brand-gradient-hover-highlight:linear-gradient(323deg, #cb360000 65%, #cb3600ff 100%);
 --color-brand-gradient-active:linear-gradient(180deg, #cd3700ff, #db3b00ff 68%, #D93A00ff 100%);
 --color-brand-gradient-active-highlight:linear-gradient(83deg, #db3f0000 80%, #D93A00ff 100%);
 --color-gradient-media:linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
 --color-gradient-media-strong:linear-gradient(180deg, #00000000, #000000cc 60%, #000000e6 100%);
 --color-transparent-background-hover:#82959B1a;
 --color-global-black:#000000;
 --color-global-white:#ffffff;
 --color-global-orangered:#D93A00;
 --color-global-alienblue:#1870F4;
 --color-global-darkblue:#131F23;
 --color-tone-1:#131313;
 --color-tone-2:#434343;
 --color-tone-3:#ACACAC;
 --color-tone-4:#E4E4E4;
 --color-tone-5:#F2F2F2;
 --color-tone-6:#F8F8F8;
 --color-tone-7:#ffffff;
 --color-action-upvote:#D93A00;
 --color-action-downvote:#6A5CFF;
 --color-alert-caution:#8F7407;
 --color-identity-admin:#D93A00;
 --color-identity-moderator:#0E8A00;
 --color-identity-self:#008675;
 --color-identity-coins:#DBAF00;
 --color-category-live:#D93A00;
 --color-category-nsfw:#E00096;
 --color-category-spoiler:var(--color-tone-1);
 --color-ui-canvas:var(--color-tone-5);
 --color-ui-modalbackground:var(--color-neutral-background-strong);
 --color-avatar-gradient:linear-gradient(0deg, #D2DADDff, #ffffffff 75%);
 --color-opacity-highlight:linear-gradient(#00255D1a, var(--color-tone-6));
 --color-opacity-08:#13131314;
 --color-opacity-50:#00000080;
 --color-scrim:#00000099;
 --color-scrim-strong:#000000cc;
 --color-scrim-gradient:linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
 --color-online:#55BD46;
 --color-a-default:var(--color-primary);
 --color-a-hover:var(--color-primary-hover);
 --color-a-visited:var(--color-primary-visited);
 --color-banner-plain:var(--color-neutral-background-strong);
 --color-banner-plain-inverted:var(--color-neutral-content-strong);
 --color-banner-error:var(--color-danger-background);
 --color-banner-caution:var(--color-warning-background);
 --color-banner-success:var(--color-success-background);
 --color-banner-brand:var(--color-brand-background);
 --color-banner-plain-text:var(--color-neutral-content);
 --color-banner-plain-inverted-text:var(--color-neutral-background-weak);
 --color-banner-error-text:var(--color-danger-onBackground);
 --color-banner-caution-text:var(--color-warning-onBackground);
 --color-banner-caution-hover:var(--color-warning-background-hover);
 --color-banner-success-text:var(--color-success-onBackground);
 --color-banner-brand-text:var(--color-brand-onBackground);
 --color-button-overlay-focus:transparent;
 --color-button-overlay-active:transparent;
 --color-button-border-width:tomato;
 --color-button-border-width-activated:tomato;
 --color-button-primary-background-hover:var(--color-primary-background-hover);
 --color-button-primary-background-activated:var(--color-primary-background-selected);
 --color-button-primary-background-disabled:var(--color-interactive-background-disabled);
 --color-button-primary-border-hover:var(--color-primary-background);
 --color-button-primary-border-active:var(--color-primary-background-hover);
 --color-button-primary-text-disabled:var(--color-interactive-content-disabled);
 --color-button-primary-text-activated:var(--color-primary-onBackground-selected);
 --color-button-secondary-background:var(--color-secondary-background);
 --color-button-secondary-background-focus:var(--color-secondary-background);
 --color-button-secondary-background-hover:var(--color-secondary-background-hover);
 --color-button-secondary-background-disabled:var(--color-interactive-background-disabled);
 --color-button-secondary-background-activated:var(--color-secondary-background-selected);
 --color-button-secondary-border:transparent;
 --color-button-secondary-border-hover:var(--color-secondary-background);
 --color-button-secondary-border-active:var(--color-secondary-background-hover);
 --color-button-secondary-border-activated:transparent;
 --color-button-secondary-border-disabled:transparent;
 --color-button-secondary-text:var(--color-neutral-content-strong);
 --color-button-secondary-text-disabled:var(--color-interactive-content-disabled);
 --color-button-secondary-text-activated:var(--color-secondary-onBackground);
 --color-button-tertiary-background:transparent;
 --color-button-tertiary-background-focus:transparent;
 --color-button-tertiary-background-hover:var(--color-secondary-background-hover);
 --color-button-tertiary-background-disabled:transparent;
 --color-button-tertiary-background-activated:var(--color-neutral-content);
 --color-button-tertiary-border-hover:var(--color-secondary-background);
 --color-button-tertiary-border-active:var(--color-secondary-background-hover);
 --color-button-tertiary-text:var(--color-neutral-content-strong);
 --color-button-tertiary-text-disabled:var(--color-neutral-content-disabled);
 --color-button-tertiary-text-activated:var(--color-neutral-background);
 --color-button-plain-background-hover:var(--color-secondary-background-hover);
 --color-button-plain-background-disabled:transparent;
 --color-button-plain-background-activated:var(--color-secondary-background-selected);
 --color-button-plain-border-hover:var(--color-secondary-background);
 --color-button-plain-border-active:var(--color-secondary-background-hover);
 --color-button-plain-text:var(--color-neutral-content-strong);
 --color-button-plain-text-disabled:var(--color-interactive-content-disabled);
 --color-button-plain-text-activated:var(--color-secondary-onBackground);
 --color-button-primary-border-activated:var(--color-primary-background);
 --color-button-plain-inverted-background-activated:var(--color-neutral-content);
 --color-button-plain-inverted-text-activated:var(--color-neutral-background);
 --color-button-media-border-color-activated:var(--color-media-border-selected);
 --color-divider-default:var(--color-neutral-border);
 --color-input-default:var(--color-secondary-background);
 --color-input-hover:var(--color-secondary-background-hover);
 --color-input-border:transparent;
 --color-input-text:var(--color-neutral-content-strong);
 --color-input-helper-text:var(--color-neutral-content-weak);
 --color-label-default:var(--color-neutral-content-weak);
 --color-shimmer-background:#00000008;
 --color-shimmer-gradient-overlay:linear-gradient(to right, #00000000, #00000005 20%, #0000000f 50%, #00000008 70%, #00000000 100%);
 --color-switch-input-background-pressed-scrim:var(--color-interactive-pressed);
 --color-switch-input-background-handle:var(--color-global-white);
 --color-switch-input-background-handle-disabled:var(--color-secondary-background);
 --color-switch-input-background-default:var(--color-secondary-background);
 --color-switch-input-background-default-hover:var(--color-secondary-background-hover);
 --color-switch-input-background-default-disabled:var(--color-interactive-background-disabled);
 --color-switch-input-background-checked:var(--color-primary-background);
 --color-switch-input-background-checked-hover:var(--color-primary-background-hover);
 --color-switch-input-background-checked-disabled:var(--color-interactive-content-disabled);
 --color-tooltip-bg-neutral:var(--color-neutral-background-strong);
 --color-tooltip-text-neutral:var(--color-neutral-content);
 --color-tooltip-bg-inverted:var(--color-neutral-content);
 --color-tooltip-text-inverted:var(--color-neutral-background);
 --color-tooltip-bg-primary:var(--color-primary-background);
 --color-tooltip-text-primary:var(--color-primary-onBackground);
 --elevation-sm-inset:inset 0 0.0625rem 0.125rem 0 #00000021;
 --elevation-button-focus:var(--elevation-focus-ring);
 --elevation-switch-input-default-inset:var(--elevation-sm-inset)
}
@media (prefers-color-scheme:dark) {
 :root:not(.theme-light) {
  --color-primary-visited:#c58af9;
  --color-primary-background:#006cbf;
  --color-primary-background-hover:#24a0ed;
  --color-tone-1:#d7dadc;
  --color-tone-2:#818384;
  --color-tone-3:#565758;
  --color-tone-4:#3a3a3c;
  --color-tone-5:#272729;
  --color-tone-6:#1a1a1b;
  --color-tone-7:#121213;
  --color-identity-coins:#ffe600;
  --color-ui-canvas:#050505;
  --color-ui-modalbackground:var(--color-tone-6);
  --color-opacity-50:#d7dadc80;
  --color-scrim:#0000004d;
  --elevation-xs:0 0.0625rem 0.125rem 0 #000000ab;
  --elevation-sm:0 0.0625rem 0.25rem 0 #00000054,0 0.25rem 0.25rem 0 #00000054;
  --elevation-md:0 0.25rem 0.5rem 0 #00000033,0 0.375rem 0.75rem 0 #00000080;
  --elevation-lg:0 0.75rem 0.75rem 0 #00000033,0 1rem 2rem 0 #00000080;
  --boxshadow-modal:0px 2px 15px rgba(0, 0, 0, 0.3);
  --boxshadow-tooltip:0 1px 4px rgba(0, 0, 0, 0.33),0 4px 4px rgba(0, 0, 0, 0.33);
  color-scheme:dark
 }
 :root:not(.theme-light) dialog::backdrop {
  --color-dialog-background:#d7dadc80
 }
 :root:not(.theme-light) .theme-beta,
 :root:not(.theme-light) .theme-rpl,
 :root:not(.theme-light).theme-beta,
 :root:not(.theme-light).theme-rpl {
  --color-pizzaRed:#c62828;
  --color-global-brand-orangered:#FF4500;
  --color-global-focus:#007FAE;
  --color-interactive-content-disabled:#ffffff40;
  --color-interactive-background-disabled:#ffffff0d;
  --color-interactive-pressed:#ffffff29;
  --color-neutral-content:#B8C5C9;
  --color-neutral-content-disabled:#303030;
  --color-neutral-content-weak:#82959B;
  --color-neutral-content-strong:#F2F4F5;
  --color-neutral-background:#0B1416;
  --color-neutral-background-selected:#1A282D;
  --color-neutral-background-weak:#04090A;
  --color-neutral-background-medium:#131313;
  --color-neutral-background-strong:#0F1A1C;
  --color-neutral-background-hover:#131F23;
  --color-neutral-border:#ffffff33;
  --color-neutral-border-medium:#ffffff80;
  --color-neutral-border-weak:#ffffff1a;
  --color-neutral-border-strong:#F2F4F5;
  --color-primary:#629FFF;
  --color-primary-hover:#A7CCFF;
  --color-primary-visited:#D55EFF;
  --color-primary-background:#0045AC;
  --color-primary-background-hover:#1870F4;
  --color-primary-background-selected:#629FFF;
  --color-primary-onBackground:#ffffff;
  --color-primary-onBackground-selected:#000000;
  --color-secondary:#F2F4F5;
  --color-secondary-hover:#ffffff;
  --color-secondary-weak:#82959B;
  --color-secondary-onBackground:#ffffff;
  --color-secondary-background:#1A282D;
  --color-secondary-background-hover:#223237;
  --color-secondary-background-selected:#33464C;
  --color-danger-background:#A50016;
  --color-danger-background-disabled:#3A0008;
  --color-danger-background-hover:#EB001F;
  --color-danger-content:#FF6E80;
  --color-danger-content-hover:#FFADB8;
  --color-success-content:#55BD46;
  --color-success-hover:#A3E398;
  --color-success-onBackground:#ffffff;
  --color-success-background:#0A6000;
  --color-success-background-hover:#0E8A00;
  --color-warning-content:#DBAF00;
  --color-warning-content-hover:#FADB61;
  --color-warning-onBackground:#000000;
  --color-warning-background:#DBAF00;
  --color-warning-background-hover:#FADB61;
  --color-upvote-content:#FE7C53;
  --color-upvote-content-weak:var(--color-global-brand-orangered);
  --color-upvote-disabled:#FE7C534d;
  --color-upvote-onBackground:#ffffff;
  --color-upvote-background:#D93A00;
  --color-upvote-background-hover:#962900;
  --color-upvote-background-disabled:#D93A004d;
  --color-downvote-content:#988EFF;
  --color-downvote-content-weak:#6A5CFF;
  --color-downvote-disabled:#988EFF4d;
  --color-downvote-onBackground:#ffffff;
  --color-downvote-background:#453BB5;
  --color-downvote-background-hover:#453BB5;
  --color-downvote-background-disabled:#6A5CFF4d;
  --color-tone-1:#F2F2F2;
  --color-tone-2:#ACACAC;
  --color-tone-3:#434343;
  --color-tone-4:#303030;
  --color-tone-5:#1E1E1E;
  --color-tone-6:#131313;
  --color-tone-7:#080808;
  --color-ui-canvas:#080808;
  --color-ui-modalbackground:var(--color-neutral-background-strong);
  --color-avatar-gradient:linear-gradient(0deg, #2A3C42ff, #0B1416ff 75%);
  --color-transparent-background-hover:#667A801a;
  --color-opacity-50:#F2F2F280;
  --color-online:#55BD46;
  --color-button-primary-border-activated:transparent;
  --color-button-plain-inverted-activated-text:var(--color-neutral-background);
  --color-shimmer-background:#ffffff08;
  --color-shimmer-gradient-overlay:linear-gradient(to right, #ffffff00, #ffffff05 20%, #ffffff0f 50%, #ffffff08 70%, #ffffff00 100%)
 }
}
.theme-dark .theme-rpl,
.theme-dark.theme-rpl {
 --color-pizzaRed:#c62828;
 --color-global-brand-orangered:#FF4500;
 --color-global-focus:#007FAE;
 --color-interactive-content-disabled:#ffffff40;
 --color-interactive-background-disabled:#ffffff0d;
 --color-interactive-pressed:#ffffff29;
 --color-neutral-content:#B8C5C9;
 --color-neutral-content-disabled:#303030;
 --color-neutral-content-weak:#82959B;
 --color-neutral-content-strong:#F2F4F5;
 --color-neutral-background:#0B1416;
 --color-neutral-background-selected:#1A282D;
 --color-neutral-background-weak:#04090A;
 --color-neutral-background-medium:#131313;
 --color-neutral-background-strong:#0F1A1C;
 --color-neutral-background-hover:#131F23;
 --color-neutral-border:#ffffff33;
 --color-neutral-border-medium:#ffffff80;
 --color-neutral-border-weak:#ffffff1a;
 --color-neutral-border-strong:#F2F4F5;
 --color-primary:#629FFF;
 --color-primary-hover:#A7CCFF;
 --color-primary-visited:#D55EFF;
 --color-primary-background:#0045AC;
 --color-primary-background-hover:#1870F4;
 --color-primary-background-selected:#629FFF;
 --color-primary-onBackground:#ffffff;
 --color-primary-onBackground-selected:#000000;
 --color-secondary:#F2F4F5;
 --color-secondary-hover:#ffffff;
 --color-secondary-weak:#82959B;
 --color-secondary-onBackground:#ffffff;
 --color-secondary-background:#1A282D;
 --color-secondary-background-hover:#223237;
 --color-secondary-background-selected:#33464C;
 --color-danger-background:#A50016;
 --color-danger-background-disabled:#3A0008;
 --color-danger-background-hover:#EB001F;
 --color-danger-content:#FF6E80;
 --color-danger-content-hover:#FFADB8;
 --color-success-content:#55BD46;
 --color-success-hover:#A3E398;
 --color-success-onBackground:#ffffff;
 --color-success-background:#0A6000;
 --color-success-background-hover:#0E8A00;
 --color-warning-content:#DBAF00;
 --color-warning-content-hover:#FADB61;
 --color-warning-onBackground:#000000;
 --color-warning-background:#DBAF00;
 --color-warning-background-hover:#FADB61;
 --color-upvote-content:#FE7C53;
 --color-upvote-content-weak:var(--color-global-brand-orangered);
 --color-upvote-disabled:#FE7C534d;
 --color-upvote-onBackground:#ffffff;
 --color-upvote-background:#D93A00;
 --color-upvote-background-hover:#962900;
 --color-upvote-background-disabled:#D93A004d;
 --color-downvote-content:#988EFF;
 --color-downvote-content-weak:#6A5CFF;
 --color-downvote-disabled:#988EFF4d;
 --color-downvote-onBackground:#ffffff;
 --color-downvote-background:#453BB5;
 --color-downvote-background-hover:#453BB5;
 --color-downvote-background-disabled:#6A5CFF4d;
 --color-tone-1:#F2F2F2;
 --color-tone-2:#ACACAC;
 --color-tone-3:#434343;
 --color-tone-4:#303030;
 --color-tone-5:#1E1E1E;
 --color-tone-6:#131313;
 --color-tone-7:#080808;
 --color-ui-canvas:#080808;
 --color-ui-modalbackground:var(--color-neutral-background-strong);
 --color-avatar-gradient:linear-gradient(0deg, #2A3C42ff, #0B1416ff 75%);
 --color-transparent-background-hover:#667A801a;
 --color-opacity-50:#F2F2F280;
 --color-online:#55BD46;
 --color-button-primary-border-activated:transparent;
 --color-button-plain-inverted-activated-text:var(--color-neutral-background);
 --color-shimmer-background:#ffffff08;
 --color-shimmer-gradient-overlay:linear-gradient(to right, #ffffff00, #ffffff05 20%, #ffffff0f 50%, #ffffff08 70%, #ffffff00 100%)
}
:root {
 font-size:16px;
 --button-color-background-default:var(--color-button-secondary-background);
 --button-color-background-focus:var(--color-button-secondary-background-focus);
 --button-color-background-hover:var(--color-button-secondary-background-hover);
 --button-color-background-active:linear-gradient(var(--color-button-secondary-background-hover), var(--color-button-secondary-background-hover));
 --button-color-background-disabled:var(--color-button-secondary-background-disabled);
 --button-color-background-activated:var(--color-button-secondary-background-activated);
 --button-color-text-default:var(--color-button-secondary-text);
 --button-color-text-disabled:var(--color-button-secondary-text-disabled);
 --button-color-text-activated:var(--color-button-secondary-text-activated);
 --button-border-color-default:var(--color-button-secondary-border);
 --sait:var(--desktop-safe-area-inset-top, var(--android-safe-area-inset-top, env(safe-area-inset-top)));
 --saib:var(--desktop-safe-area-inset-bottom, var(--android-safe-area-inset-bottom, env(safe-area-inset-bottom)));
 --sail:var(--desktop-safe-area-inset-left, var(--android-safe-area-inset-left, env(safe-area-inset-left)));
 --sair:var(--desktop-safe-area-inset-right, var(--android-safe-area-inset-right, env(safe-area-inset-right)));
 --garlic-bread-font-sans:'Reddit Sans',var(--font-sans);
 --garlic-bread-font-mono:'Reddit Mono',var(--font-mono);
 --garlic-bread-font-pixel:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
 --pixel-color-orange:#d93a00;
 --pixel-border:3px solid #000000;
 --pixel-box-shadow:8px 8px 0px rgba(0, 0, 0, 0.75);
 --pixel-border-size:3px;
 --pixel-shadow-size:8px;
 --pixel-shadow-color:rgba(0, 0, 0, 0.75);
 --gray-color:#576f76
}
