:root {
	font-size: 16px;
	--font-pixel: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	--pixel-color-orange: #d93a00;
	--pixel-border: 3px solid #000000;
	--pixel-box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.75);
	--pixel-border-size: 3px;
	--pixel-shadow-size: 8px;
	--pixel-shadow-color: rgba(0, 0, 0, 0.75);
	--gray-color: #576f76
}
:root, button, html, input, select, textarea {
	font-family: var(--font-pixel);
}

input {
	color: black;
	border: var(--pixel-border);
	outline: none;
	height: 38px;
	padding: 4px;
}

input[type="radio"] {
	height: auto;
	width: 16px;
}

button, input[type="button"], textarea {
	border: var(--pixel-border);
	background-color: white;
	height: 36px;
}

button:hover, input[type="button"]:hover {
	background-color: lightgray;
}

input[type="button"]:disabled, button:disabled {
	cursor: default;
	color: #0000009c;
	pointer-events: none;
	background-color: lightgray;
}

input:focus-visible, button:focus-visible, textarea:focus-visible {
	outline: auto;
}

body {
	background-color: #333;
}

#loadingScreen {
	background: white;
}

#modal {
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	width: 261px;
	padding: 21px;
	border: var(--pixel-border);
	box-shadow: var(--pixel-box-shadow);
}

.modal-footer > img {
	display: none;
}

.modal-install {
	border: var(--pixel-border);
	height: 40px;
	align-self: center;
	width: 80%;
	line-height: 28px;
	cursor: pointer;
	padding: 4px;
}

.modal-install:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 0px), rgb(255, 255, 255);
}

#themeDropParent {
	border-bottom: var(--pixel-border);
}

.context-menu {
	border: var(--pixel-border);
	background-color: white;
}
.context-menu > ul > li:hover {
	background: lightgrey;
}

/* Buttons */
.layout {
	border: var(--pixel-border);
	box-shadow: var(--pixel-box-shadow);
	font-family: var(--font-pixel);
	background-color: rgb(255, 255, 255);
	display: flex;
	width: 46px;
	height: 46px;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	font-size: var(--font-size);
	pointer-events: all;
	position: absolute;
	z-index: 5;
}

.layout:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 0px), rgb(255, 255, 255);
}

#helpbtn {
	bottom: 20px;
	left: calc(50% - 140px);
}
#helpbtn > img {
	height: 24px;
}

#chatbtn {
	bottom: 20px;
	right: calc(50% - 140px);
	line-height: 15px;
	text-align: center;
}

#closebtn {
	top: 20px;
	left: 20px;
	text-align: center;
	font-size: 25px;
	line-height: 8px;
}

r-close-icon {
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 29px;
	height: 29px;
	font-size: 20px;
	cursor: pointer;
	border-left: var(--pixel-border);
	border-bottom: var(--pixel-border);
}

#posel {
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	text-align: center;
	z-index: 6;
	pointer-events: none;
	color: white;
	font-family: var(--font-pixel);
	font-size: 14px;
}

#palette {
	background: white;
	box-shadow: 0 0 10px black;
}

#namePanel {
	border-top: var(--pixel-border);
	background-color: white;
}

.name-input-container > button {
	background-color: white;
	border: var(--pixel-border);
	padding: 4px;
	transition: background-color .1s ease-in;
}

.name-input-container > button:hover {
	background-color: lightgray;
}

.message-options {
	height: 38px;
	aspect-ratio: 1/1;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	font-weight: bolder;
	border: var(--pixel-border);
}

.chat-input-panel {
	background-color: white;
	border-top: var(--pixel-border);
	padding-top: 8px;
}

.channels-options {
	border-bottom: var(--pixel-border);
}

.channel-button {
	background: transparent;
	border: none;
}

#captchaPopup {
	padding: 24px;
	border: var(--pixel-border);
	background-color: white;
	box-shadow: var(--pixel-box-shadow);
}

.captcha-options-button {
	background: url(svg/loading-spinner.svg) no-repeat 50%;
	border: var(--pixel-border);
	cursor: default;
}

.captcha-options-button.loaded {
	background: white;
}

.captcha-options-button:hover {
	background-color: lightgray;
}

#captchaImg {
	border: var(--pixel-border);
}

/* TODO: Unjank */
.live-chat-header1 {
	display: none;
}
.live-chat-header2 {
	display: block !important;
}

#playerIcon {
	color: black;
}

#onlineCounter {
	color: black;
}

#place {
	width: 142px;
	height: 46px;
	display: flex;
	color: rgb(255, 255, 255);
	background-color: var(--pixel-color-orange);
	font-size: 14px;
	border: var(--pixel-border);
	box-shadow: var(--pixel-box-shadow);
	justify-content: center;
	font-family: var(--font-pixel);
}
#place:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.2) 0 0), var(--pixel-color-orange);
}

#chatPanel {
	border: var(--pixel-border);
	background: white;
	padding: 8px;
}
#messageInput {
	color: var(--ui-text);
	padding: 4px;
	height: max(38px, var(--message-input-height));
}
#messageInput[state="command"] {
	color: #00FA9A;
}
.message-emojis-suggestion:hover {
	background: lightgrey;
}
.chat-header {
	margin-right: 24px;
}

.chat-ad-ins::before {
	background: var(--ui-panel-bg);
}
.chat-ad-close {
	color: black;
}

.toast-menu {
	border: var(--pixel-border);
	box-shadow: var(--pixel-box-shadow);
	padding: 21px;
	background-color: white;
}

#modMessagePreview {
	border: var(--pixel-border);
	padding: 8px;
	background: #f7f7f7;
	padding: 4px;
	opacity: 0.8;
}

.tooltip {
	cursor: pointer;
	background-color: white !important;
	text-align: center !important;
	border-radius: 0px !important;
	padding: 2px 5px !important;
	position: absolute;
	z-index: 8;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .2s ease-out;
	border: var(--pixel-border);
}

.tooltip::before {
	content: " ";
	position: absolute;
	left: calc(50% - 8px);
	background: white !important;
	width: 16px;
	height: 16px;
	transform: rotate(45deg) translate(-50%, -50%);
	border: var(--pixel-border);
}

#popup {

	border: var(--pixel-border);
	background: white;
}

#popup r-close-icon {
	position: absolute;
	right: 0px;
	top: 0px;
}

#popup > div {
	padding: 12px;
	padding-top: 4px;
}

#eventCountdown {
	background: var(--ui-panel-bg);
}
r-spoiler {
	display: inline-block;
	color: inherit;
	transition: .2s text-shadow;
}
r-spoiler[hidden] {
	color: transparent;
	cursor: pointer;
	text-shadow: 0px 0px 4px var(--ui-text);
	color: transparent;
	cursor: pointer;
	background-color: white;
	border: var(--pixel-border);
}
r-spoiler[hidden]:hover {
	background-color: lightgray;
}