
* { margin: 0; padding: 0; touch-action: none } *, *::before, *::after { box-sizing: border-box } body, html{ width: 100%; height: 100%; overflow: hidden; position: absolute }

html {
	overscroll-behavior: none;
	font-size: 14px;
	font-family: bold;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

[noselect] {
	user-select: none;
	-webkit-user-select: none;
}

body{
	transition: background-color .3s;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	transition: left .3s ease-out, top .3s ease-out;
	left: 0;
	top: 0;
	background: #333;
}

select {
	background-color: white;
	border-radius: 10px;
	font-size: 16px;
	border: 1px solid gray;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	height: 35px;
	padding: 5px;
	font-family: bold;
	color: #747474;
}

input{
	-webkit-appearance: none;
	background: transparent;
	outline: none;
	border-top: 2px #333 solid;
	border-left: 2px #333 solid;
	border-bottom: 2px #777 solid;
	border-right: 2px #777 solid;
	font: unset;
	color: unset;
	width: 4rem;
	border-radius: 0;
}

input[type=file]::file-selector-button {
	border-radius: 5px;
	background-color: white;
	border: 0px solid black;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	height: 100%;
}

input[type=range]::-moz-range-thumb {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border: 1px solid darkgray;
	border-radius: 5px;
	background: white;
	cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border: 1px solid darkgray;
	border-radius: 5px;
	background: white;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	btn {
		background: #000;
		color: white;
	}
}

@font-face {
	font-family: mono;
	src: url(https://www.redditstatic.com/mona-lisa/assets/fonts/RedditMono-Bold.woff2);
}
@font-face {
	font-family: bold;
	src: url(https://www.redditstatic.com/mona-lisa/assets/fonts/RedditSans-Bold.woff2);
}
@font-face {
	font-family: reddit;
	src: url(https://www.redditstatic.com/mona-lisa/assets/fonts/RedditSans-Regular.woff2);
}

#maincontent{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	right: 0;
	overflow: hidden;
	z-index: 1;
}
#posts{
	position: absolute;
	top: 90%;
	bottom: 0;
	left: 0;
	right: 0;
}

btn{
	display: block;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background: #fff;
}

.btn1{
	background: #fff;
	max-width: 70%;
	width: 300px;
	border: 2px #888 solid;
	box-shadow: 4px 4px black;
}
.btn1.active{
	transform: translate(2px, 2px);
	box-shadow: 2px 2px black;
}

#mainmenu bg{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURf///wAAAEdwTHh4eAAAAERrJnIAAAAEdFJOU2ZmAGZFVb26AAAAJUlEQVQY02NwQQIMzgYMMMCCynEUUoICheHOEYQBYRNUDnJQAQACbSUPxnEdigAAAABJRU5ErkJggg'), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHlJREFUOE+tk10OgDAIg+GAntYDzkzDpkD5SeR1W+nXARONk8LiYx4PIvceW4HnQVRvMUdgPv2KoO73ze0g7+yhtBA8J0rAuojsKwQvNowlwn8jiIs6SpqBBtOZwG/MwlteO5NY+EY0wHgyyxk0lsnugvgqIsQ7oUUuLrY7MUeZYKEAAAAASUVORK5CYIIA');
	background-size: 6.25%, 100%;
	image-rendering: pixelated;
	background-position: 0% 0%, center;
	display: block;
	--w: max(100vw, 100vh);
	position: absolute;
	top: calc(50% - var(--w) / 2);
	left: calc(50% - var(--w) / 2);
	width: var(--w);
	height: var(--w);
	z-index: -1;
	transform: scale(1.2) rotate(-10deg);
}

#canvparent1{
	position: absolute;
	font-size: 0;
	z-index: 1;
	flex-shrink: 0;
	transform-origin: top left;
}
#canvparent2{
	position: absolute;
	font-size: 0;
	z-index: 3;
	width: 0;
	height: 0;
	flex-shrink: 0;
	transform-origin: top left;
	box-shadow: 0 0 0 0.07px #c6c4c4, 0 0 0 0.24px white, 0 0 0 0.35px #484848;
}
#canvas{
	image-rendering: optimizeSpeed;image-rendering: -moz-crisp-edges;image-rendering: -webkit-optimize-contrast;image-rendering:pixelated;image-rendering: -o-crisp-edges;image-rendering:optimize-contrast;-ms-interpolation-mode:nearest-neighbor;
	z-index: 0;
	position: absolute;
	background: #fff;
	outline: 1px white solid;
	z-index: 2;
	top: 50%;
	left: 50%;
}

#templateImage {
	pointer-events: none;
	position: absolute;
	transform-origin: top left;
	image-rendering: pixelated;
	will-change: transform;
	z-index: 2;
}

#canvselect{
	width: 100px;
	height: 100px;
	transform-origin: top left;
	position: absolute;
	will-change: transform;
	z-index: 3;
}
#edge{
	pointer-events: none;
	position: absolute;
	top: -114px;
	left: -144px;
	transform: scale(0.02) translate(-13px,9px) rotate(3.21deg);
	z-index: 1;
}
#posel{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 155px;
	height: 24px;
	padding: 5px;
	line-height: 17px;
	background: white;
	border-radius: 100px;
	text-align: center;
	z-index: 5;
	font-family: mono;
}
#chat{
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	padding: 8px;
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	border-radius: 18px;
	fill: currentcolor;
	line-height: 15px;
	background: white;
	border-radius: 100px;
	text-align: center;
	z-index: 5;
	cursor: pointer;
}

#place{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	min-width: 155px;
	height: 24px;
	padding: 5px;
	line-height: 15px;
	background: white;
	border-radius: 100px;
	text-align: center;
	z-index: 5;
}
#modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	color: rgb(0, 0, 0);
	border-radius: 8px;
	width: min(325px, calc(100% - 64px));
	padding: 24px;
	z-index: 7;
	box-sizing: content-box;
}

@media (max-width:500px){
	#modal {
		padding: 16px;
	}

	#modal-install {
		width: 100% !important;
	}

	#modal-footer {
		margin-top: 16px;
	}
}

#close-btn{
	width: 20px;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
	display: inline-block;
	fill: currentcolor;
	vertical-align: middle;
	line-height: 1em;
}
#modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

#modal-content{
	font-family: reddit;
	font-size: 18px;
	line-height: 20px;
	margin: 0px 0px 20px;
}

#modal-install {
	height: 40px;
	background: white;
	align-self: center;
	width: 60%;
	border: 1px solid lightgray;
	border-radius: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	transition: .1s border;
}

#modal-install:hover {
	border: 2px solid #ff4500;
	line-height: 38px;
}

#modal-footer {
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.modal-footer-button {
	display: block;
	width: 36px;
	height: 36px;
	padding: 8px;
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	border-radius: 18px;
	position: absolute;
	cursor: pointer;
}

mute-button {
	bottom: -2px;
	left: -6px;
}

place-chat-button {
	bottom: -2px;
	right: -6px;
	width: 72px !important
}

place-chat-button > img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -30%;
}

#helpbtn, #closebtn{
	display: block;
	width: 36px;
	height: 36px;
	padding: 8px;
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	border-radius: 18px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	background: white;
	fill: currentcolor;
	z-index: 5;
}
#closebtn{
	right: unset;
	left: 20px;
	text-align: center;
	font-size: 25px;
	line-height: 8px;
}

#palette{
	display: block;
	transition: transform .3s ease-out;
	background: white;
	box-shadow: 0 0 10px black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 7;
}

#colours {
	padding: 14px 14px 0 14px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#palette .buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
	padding: 14px 16px 16px 16px;
}

.pcancel, .pok{
	width: 100px;
	height: 40px;
	border-radius: 50px;
	border: 1px #d4d7d9 solid;
	padding: 9px;
	text-align: center;
	cursor: pointer;
	min-width: 162px;
}
.pok{
	border: 4px #f1f1f1 solid;
	cursor: not-allowed;
	padding: 6px;
}
.pcancel svg, .pok svg{
	height: 100%;
}
.pok.enabled{
	border: 4px #ff5500 solid;
	cursor: pointer;
}

#colours div{
	height: 32px;
	flex-grow: 1;
	width: 24px;
	flex-shrink: 0;
	margin: 2px;
	cursor: pointer;
}

#colours div.sel{
	margin: 0;
	border: 2px white solid;
	box-shadow: rgb(0 0 0 / 50%) 0px 4px 10px;
	box-sizing: content-box;
}

/*Palette indicators*/
#colours span {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	width: 15px;
	height: 15px;
	position: absolute;
	text-align: center;
	line-height: 1;
	visibility: hidden;
}

@media (max-width: 1000px){
	#colours div{
		flex-basis: calc(100% / 16 - 4px);
	}
}
@media (max-width: 500px){
	#colours div{
		flex-basis: calc(100% / 8 - 4px);
	}
}
@media (max-width: 300px){
	#colours div{
		flex-basis: calc(100% / 4 - 4px);
	}
}

#helpbtn, #posel, #place, #archiveView, .toastMenu, #captchaPopup, #closebtn, #timelapsePanel {
	box-shadow: 0 0 30px black;
}

#onlineCounter {
	display: inline-block;
	color: white;
	line-height: 16px;
}

#playerIcon {
	display: inline-block;
	color: white;
	height: 80%;
}

#donate {
	cursor: pointer;
	box-shadow: 0 0 10px grey;
	padding: 5px;
	line-height: 15px;
	background: white;
	text-align: center;
}

@keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.05);}
	100% { transform: scale(1);}
}

#onlinepanel {
	background: rgba(0, 0, 0, 0.6);
	height: 25px;
	border-radius: 10px;
	padding: 3px;
	margin-top: 2.5px;
	margin-right: 15px;
	display: flex;
	gap: 3px;
}

#connproblems {
	text-align:center;
	transition: opacity .5s;
	position: absolute;
	opacity: 0;
	bottom: 80px;
	z-index: 22;
	font-family: 'mono';
}

#chatPanel {
	position: absolute;
	top: 20px;
	width: 330px;
	bottom: 20px;
	right: 20px;
	border-radius: 10px;
	background-color: white;
	z-index: 99;
	padding: 10px;
	transform: translateX(calc(100% + 20px));
	transition: transform .2s;
}

#chatPanel.open{
	transform: translateX(0);
	box-shadow: 0 0 30px black;
}

.channels-options {
	position: relative;
	height:30px;
	width: 150px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	display: flex;
	flex-direction: row;
	margin-right: 15px;
	cursor: pointer;
}

.channels-options > span {
	flex: auto;
	line-height: 30px;
	text-align: center;
	border-radius: 20px 0px 0px 20px;
	background-color: transparent;
	white-space: nowrap;
}

#captchaPopup {
	z-index: 7;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	height: fit-content;
	width: 450px;
	padding: 24px;
	border-radius: 8px;
	background-color: white;
}

/* Captcha buttons container on captcha popup */
#captchaPopup > div {
	display: grid;
	row-gap: 8px;
	column-gap: 8px;
	grid-template-columns: auto auto auto auto auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}

/* We make it slightly more mobile usable by shrinking captcha buttons for really small phones */
#captchaPopup > div > input {
	width: auto;
	cursor: pointer;
	transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) .1s;
}

#captchaPopup > div > input:hover {
	transform: scale(1.1);
}

@media screen and (max-width:700px) { /* TODO: Switch to more future proof orientation portrait */
	#captchaPopup {
		width: calc(100% - 16px);
		height: unset;
		padding: 16px;
	}

	#captchaPopup > div {
		row-gap: 4px;
		column-gap: 4px;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	#chatPanel{
		left: 20px;
		width: unset;
	}
}


input {
	background-color: white;
	border-radius: 10px;
	font-size: 16px;
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	height: 35px;
	padding: 5px;
}

a {
	cursor: pointer;
}

#messageInput {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 60px);
	flex: initial;
}

#messageTypePanel {
	padding: 5px;
	background: white;
	border: 1px solid lightgray;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100px;
	width: 100%;
	border-radius: 5px 5px 10px 10px;
	overflow: clip;
	transition: .3s height, .0s visibility, .2s opacity;
	transition-delay: 0s, .2s;
}

#messageTypePanel[closed] {
	height: 0px;
	visibility: hidden;
	opacity: 0;
}

.messageTypeBtn {
	width: calc(50% - 10px);
	margin-bottom: 5px;
	cursor: pointer;
	position: absolute;
	box-shadow: none;
	border: 1px solid lightgray;
}

.messageOptions {
	width: 35px;
	height: 35px;
	position: absolute;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	font-weight: bolder;
	border-radius: 10px;
	box-shadow: 0px 0px 5px gray;
}

#namePanel {
	z-index:1;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 10px;
	background-color: white;
	border-radius: 15px;
	left: 0
}

.name-input-container {
	display: flex;
	column-gap: 4px;
}

#nameInput {
	flex-grow: 1;
	height: 40px;
}

.name-input-container > button {
	width: 40px;
	height: 40px;
	background: white;
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	border: none;
	border-radius: 10px;
	padding: 2px;
	transition: all .1s ease-in;
	cursor: pointer;
}

.name-input-container > button:hover {
	transform: rotate(5deg) scale(110%);
}

.toastMenu {
	position: absolute;
	top: 60px;
	left: 50%;
	width: 380px;
	padding: 10px;
	line-height: 17px;
	background: white;
	border-radius: 15px;
	transition: all .2s ease-in;
	z-index: 5;
}

#serverInput {
	width: 100%;
}

.languageButton {
	font-size: xx-large;
	border: 0px solid black;
	background-color: transparent;
	transition: transform .2s;
	cursor: pointer;
}

.languageButton:hover {
	transform: scale(1.2);
}

#timelapsePanel {
	position: absolute;
	z-index: 20;
	padding: 10px;
	background: linear-gradient(white 0%, white 79%, gray 80%, #DAE0E6 80%);
	width: 360px;
	height: 540px;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	border-radius: 4px;
	border: 2px solid gray;
}

.tooltip {
	cursor: pointer;
	width: 120px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	padding: 5px 0;
	position: absolute;
	z-index: 8;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
    transition: opacity .2s ease-out;
}

.tooltip::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}

kbd {
	border-radius: 5px;
	padding: 2px 4px;
	border: 1px solid grey;
	font-size: 70%;
	font-weight: 700;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
}

.contextMenu {
	position: absolute;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	transform: translateX(5px);
	padding: 5px;
	transition: transform .1s;
}
.contextMenu ul {
	padding: 0px;
	margin: 0px;
	min-width: 150px;
	list-style: none;
}
.contextMenu ul li {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}
.contextMenu ul li a {
	text-decoration: none;
	color: black;

}
.contextMenu ul li:hover {
	background: lightgrey;
	border-radius: 5px;
}


@keyframes rainbow-text {
	0% {color: #e87d7d;}
	2% {color: #e88a7d;}
	4% {color: #e8977d;}
	6% {color: #e8a47d;}
	8% {color: #e8b07d;}
	10% {color: #e8bd7d;}
	12% {color: #e8ca7d;}
	14% {color: #e8d77d;}
	16% {color: #e8e47d;}
	18% {color: #dfe87d;}
	20% {color: #d3e87d;}
	22% {color: #c6e87d;}
	24% {color: #b9e87d;}
	26% {color: #ace87d;}
	28% {color: #9fe87d;}
	30% {color: #92e87d;}
	32% {color: #86e87d;}
	34% {color: #7de881;}
	36% {color: #7de88e;}
	38% {color: #7de89b;}
	40% {color: #7de8a8;}
	42% {color: #7de8b5;}
	44% {color: #7de8c1;}
	46% {color: #7de8ce;}
	48% {color: #7de8db;}
	50% {color: #7de8e8;}
	52% {color: #7ddbe8;}
	54% {color: #7dcee8;}
	56% {color: #7dc1e8;}
	58% {color: #7db5e8;}
	60% {color: #7da8e8;}
	62% {color: #7d9be8;}
	64% {color: #7d8ee8;}
	66% {color: #7d81e8;}
	68% {color: #867de8;}
	70% {color: #927de8;}
	72% {color: #9f7de8;}
	74% {color: #ac7de8;}
	76% {color: #b97de8;}
	78% {color: #c67de8;}
	80% {color: #d37de8;}
	82% {color: #df7de8;}
	84% {color: #e87de4;}
	86% {color: #e87dd7;}
	88% {color: #e87dca;}
	90% {color: #e87dbd;}
	92% {color: #e87db0;}
	94% {color: #e87da4;}
	96% {color: #e87d97;}
	98% {color: #e87d8a;}
	100% {color: #e87d7d;}
}
.rainbow-text {
	animation: rainbow-text 5s infinite;
}

#capchaImg {
	display: block;
	border: 1px solid grey;
	position: relative;
	width: 90px;
	height: 90px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	image-rendering: pixelated;
}

#out #maincontent {
	height: 60%;
	transition: height .5s;

}
#out #more{
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	display: block;
	z-index: 20;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	visibility: visible;
}
#more {
	display: flex;
	visibility: hidden;
	overflow: auto;
	touch-action: pan-y;
}
#more *{touch-action: pan-y;}
#out #closebtn{ display: none }

#out #more #spaceFiller {
	display: block;
	height: 60vh;
	width: 100%;
	flex-shrink: 0;
}

#spaceFiller {
	height: 100vh;
	transition: height .5s;
}

#more #contents {
	background: #dae0e6;
	width: 100%;
	flex: 1;
	left: 0px;
	bottom: 0px;
	padding: 15px 30px 30px 30px;
	overflow: visible;
}
#more #contents > div{
	border: 1px #ccc solid;
	border-radius: 4px;
	background: #fff;
	margin: 0 auto;
	max-width: 640px;
	min-width: 250px;
	padding: 8px 16px;
	padding-left: 48px;
	margin-bottom: 15px;
	cursor: pointer;
	display: flex;
	gap: 10px;
	color: #aaa;
	position: relative;
	overflow: hidden;
}
up{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40px;
	background: #f8f9fa;
}
up svg{
	fill: #888a8c;
	position: absolute;
	left: 8px;
	top: 5px;
	border-radius: 2px;
	padding: 3px;
}
up svg:hover{
	fill: #cc3700;
	background: #1a1a1b1a;
}

up div{
	position: absolute;
	left: 0; right: 0;
	top: 30px;
	text-align: center;
	color: #888a8c;
}
#more #contents > .post > div {
	flex: 1;
	margin: 3px 0;
}
#more #contents > .post > div > div { color: #000; }
#more #contents > .post > img {
	width: 40px;
	height: 40px;
}

#postInput {
	all: unset;
	background-color: #F6F7F8;
	border-radius: 4px;
	border: 1px solid #EDEFF1;
	box-shadow: none;
	box-sizing: border-box;
	color: #1c1c1c;
	display: block;
	flex-grow: 1;
	height: 38px;
	margin-right: 8px;
	outline: none;
	padding: 0 16px;
	margin-top: 4px;
	font-size: 16px;
	min-width: 5px;
}
#postInput:hover {
	background-color: #FFFFFF;
	border: 1px solid #0079D3;
}

.virtselect {
	max-width: 100% !important;
	margin-bottom: 5px;
}

.virtselect input {
	box-shadow: none !important;
	border-radius: 0px !important;
}

placechat {
	display: flex;
	column-gap: 1px;
	background: white;
	position: absolute;
	height: 4px;
	border-radius: 1.5px;
	font-size: 2px;
	padding: 0px 1px 0px 1px;
	text-align: center;
	z-index: 3;
	box-shadow: 0px 0px 1px black;
	transform: translateX(-50%) translateY(-150%);
	max-width: 65px;
	width: max-content;
}

placechat::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -2px;
	border-width: 2px;
	border-style: solid;
	border-color: white transparent transparent transparent;
}

placechat span {
	font-size: 2px;
	align-self: center;
}

postcopy {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.7;
}

postcopy span {
	width: 132px;
	height: 24px;
	position: absolute;
	right: 48px;
	top: 50%;
	transform: translateY(-50%);
	line-height: 24px;
	transition: 1s opacity;
}
