
* { margin: 0; padding: 0; touch-action: none } *, *::before, *::after { box-sizing: border-box } body, html{ width: 100%; height: 100%; overflow: hidden; position: absolute }

html {
	overscroll-behavior: none;
	font-size: 14px;
	font-family: bold;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

[noselect] {
	user-select: none;
	-webkit-user-select: none;
}

body{
	transition: background-color .3s;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	transition: left .3s ease-out, top .3s ease-out;
	left: 0;
	top: 0;
	background: #333;
}

@media (prefers-color-scheme: dark) {
	btn {
		background: #000;
		color: white;
	}
}

@font-face {
	font-family: mono;
	src: url(fonts/RedditMono-Bold.woff2);
}
@font-face {
	font-family: bold;
	src: url(fonts/RedditSans-Bold.woff2);
}
@font-face {
	font-family: reddit;
	src: url(fonts/RedditSans-Regular.woff2);
}

#maincontent{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	right: 0;
	overflow: hidden;
	z-index: 1;
}
#posts{
	position: absolute;
	top: 90%;
	bottom: 0;
	left: 0;
	right: 0;
}

#loadingScreen {
    z-index: 20;
    transition: opacity .3s;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	/* Needs a default value to hide anything behind that is still loading */
	background-color: white;
	transition: .2s background-color;
}

btn{
	display: block;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background: #fff;
}

.btn1{
	background: #fff;
	max-width: 70%;
	width: 300px;
	border: 2px #888 solid;
	box-shadow: 4px 4px black;
}
.btn1.active{
	transform: translate(2px, 2px);
	box-shadow: 2px 2px black;
}

#mainmenu bg{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURf///wAAAEdwTHh4eAAAAERrJnIAAAAEdFJOU2ZmAGZFVb26AAAAJUlEQVQY02NwQQIMzgYMMMCCynEUUoICheHOEYQBYRNUDnJQAQACbSUPxnEdigAAAABJRU5ErkJggg'), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHlJREFUOE+tk10OgDAIg+GAntYDzkzDpkD5SeR1W+nXARONk8LiYx4PIvceW4HnQVRvMUdgPv2KoO73ze0g7+yhtBA8J0rAuojsKwQvNowlwn8jiIs6SpqBBtOZwG/MwlteO5NY+EY0wHgyyxk0lsnugvgqIsQ7oUUuLrY7MUeZYKEAAAAASUVORK5CYIIA');
	background-size: 6.25%, 100%;
	image-rendering: pixelated;
	background-position: 0% 0%, center;
	display: block;
	--w: max(100vw, 100vh);
	position: absolute;
	top: calc(50% - var(--w) / 2);
	left: calc(50% - var(--w) / 2);
	width: var(--w);
	height: var(--w);
	z-index: -1;
	transform: scale(1.2) rotate(-10deg);
}

#canvparent1{
	position: absolute;
	font-size: 0;
	z-index: 1;
	flex-shrink: 0;
	transform-origin: top left;
}
#canvparent2{
	position: absolute;
	font-size: 0;
	z-index: 3;
	width: 0;
	height: 0;
	flex-shrink: 0;
	transform-origin: top left;
	box-shadow: 0 0 0 0.07px #c6c4c4, 0 0 0 0.24px white, 0 0 0 0.35px #484848;
}
#canvas{
	image-rendering: optimizeSpeed;image-rendering: -moz-crisp-edges;image-rendering: -webkit-optimize-contrast;image-rendering:pixelated;image-rendering: -o-crisp-edges;image-rendering:optimize-contrast;-ms-interpolation-mode:nearest-neighbor;
	z-index: 0;
	position: absolute;
	background: #fff;
	outline: 1px white solid;
	z-index: 2;
	top: 50%;
	left: 50%;
}

#templateImage {
	pointer-events: none;
	position: absolute;
	transform-origin: top left;
	image-rendering: pixelated;
	will-change: transform;
	z-index: 2;
}

#canvselect{
	width: 100px;
	height: 100px;
	transform-origin: top left;
	position: absolute;
	will-change: transform;
	z-index: 3;
}
#edge{
	pointer-events: none;
	position: absolute;
	top: -114px;
	left: -144px;
	transform: scale(0.02) translate(-13px,9px) rotate(3.21deg);
	z-index: 1;
}

#place {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	text-align: center;
	z-index: 5;
}
#place::after{
	content: " ";
	position: absolute;
	left: -24px;
	top: -24px;
	width: calc(100% + 48px);
	height: calc(100% + 48px);
}

#modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	z-index: 7;
	box-sizing: content-box;
}

#bg {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	inset: 0px;
	z-index: 6;
	opacity: 1;
}

@media (max-width:500px){
	#modal {
		padding: 16px;
	}

	.modal-install {
		width: 100% !important;
	}

	.modal-footer {
		margin-top: 16px;
	}
}

.close-button {
	width: 20px;
  	height: 20px;
  	font-size: 20px;
  	cursor: pointer;
	display: inline-block;
	fill: currentcolor;
	vertical-align: middle;
	line-height: 1em;
}
.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.modal-content{
	font-family: reddit;
	font-size: 18px;
	line-height: 20px;
	margin: 0px 0px 20px;
}

.modal-footer {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
}

.modal-footer-button {
	display: flex;
	min-width: 36px;
	height: 36px;
	padding: 8px;
	position: relative;
	cursor: pointer;
}

mute-button {
	bottom: -2px;
	left: -6px;
}

place-chat-button {
	bottom: -2px;
	right: -6px;
	margin-left: -36px; /* HACK: Until how to centre the middle select can be figured out */
	width: 72px !important
}

place-chat-button > img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -30%;
}


#palette {
	transition: transform .3s ease-out;
	background: white;
	box-shadow: 0 0 10px black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 7;
}

#colours {
	padding: 14px 14px 0 14px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#canvasLock {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	padding-top: 12px;
	justify-content: center;
	align-items: center;
	background: #ffffffd4;
}

#palette .buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
	padding: 14px 16px 16px 16px;
}

.pcancel, .pok{
	width: 100px;
	height: 40px;
	border-radius: 50px;
	border: 1px #d4d7d9 solid;
	padding: 9px;
	text-align: center;
	cursor: pointer;
	min-width: 162px;
}
.pok{
	border: 4px #f1f1f1 solid;
	cursor: not-allowed;
	padding: 6px;
}
.pcancel svg, .pok svg{
	height: 100%;
}
.pok.enabled{
	border: 4px #ff5500 solid;
	cursor: pointer;
}

#colours div{
	height: 32px;
	flex-grow: 1;
	width: 24px;
	flex-shrink: 0;
	margin: 2px;
	cursor: pointer;
}

#colours div.sel{
	margin: 0;
	border: 2px white solid;
	box-shadow: rgb(0 0 0 / 50%) 0px 4px 10px;
	box-sizing: content-box;
}

/*Palette indicators*/
#colours span {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	width: 15px;
	height: 15px;
	position: absolute;
	text-align: center;
	line-height: 1;
	visibility: hidden;
}

@media (max-width: 1000px){
	#colours div{
		flex-basis: calc(100% / 16 - 4px);
	}
}
@media (max-width: 500px){
	#colours div{
		flex-basis: calc(100% / 8 - 4px);
	}
}
@media (max-width: 300px){
	#colours div{
		flex-basis: calc(100% / 4 - 4px);
	}
}

#eventCountdown {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	overflow: hidden;
}

#out #eventCountdown {
	display: none;
}

body[eventphase="0"] #eventCountdown {
	width: min(calc(100% - 32px), 200px);
	height: 72px;
	top: -72px;
	border-radius: 32px;

	transition: .5s all;
}

body[eventphase="1"] #eventCountdown {
	width: min(calc(100% - 16px), 300px);
	height: 84px;
	top: 64px;
	border-radius: 16px;
	box-shadow: 0 0 30px black;

	transition: 2s all;
}

.announcer {
	display: none;
	align-items: center;
	justify-content: center;
	padding-left:8px;
	padding-right:8px;
	column-gap:8px;
}

.countdown {
	visibility: hidden;
}

.coverer {
	position: relative;
	display: none;
	opacity: 0;
	transition: .1s all;
	transition-delay: 1s;
}

.coverer-title {
	animation: rainbow-text 5s infinite;
	text-shadow: 4px 4px 0px black;
	opacity: 0;
	transition: .2s all;
}

.progressbar {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	background-color: #add8e63d;transition: .5s width;
	z-index: -1;
}

@media (max-width: 500px) {
	.coverer {
		flex-direction: column;
	}
	.coverer-title {
		font-size: 56px !important;
	}
}

body[eventphase="1"] .announcer {
	display: flex !important;
}

body[eventphase="1"] .countdown {
	visibility: visible;
}

body[eventphase="2"] .countdown {
	visibility: visible;
}

body[eventphase="2"] #posel {
	border-radius: 8px 8px 0px 0px;
}

body[eventphase="2"] #eventCountdown {
	top: 44px;
	width: 155px;
	border-radius: 0px 0px 8px 8px;
	height: 24px;
	transition: .5s all;
}

body[eventphase="3"] .countdown {
	display: none;
}

body[eventphase="3"] #eventCountdown {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 0px;
	transform: revert;
	transition: 1s all;
}

body[eventphase="3"] #eventCountdown::before {
	content: " ";
	background: url(svg/pattern.svg);
	background-size: auto;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: 50px;
	animation: pattern-scroll 2s infinite;
}

body[eventphase="3"] #eventCountdown::after {
	content: " ";
	left: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(white, transparent, #c3c8ff);
	z-index: 2;
	pointer-events: none;
}

@keyframes pattern-scroll {
	0% { background-position: 0% 0% }
	100% { background-position: 50px 50px }
}

body[eventphase="3"] .coverer {
	display: flex;
	column-gap: 16px;
	align-items: center;
	opacity: 1;

	transition: .1s all;
	transition-delay: 1s;
}

body[eventphase="3"] .coverer-title {
	font-size: 100px;
	opacity: 1;
}

#onlineCounter {
	display: inline-block;
	color: white;
	line-height: 16px;
}

#playerIcon {
	height: 80%;
}

#donate {
	cursor: pointer;
	box-shadow: 0 0 10px grey;
	padding: 5px;
	line-height: 15px;
	background: white;
	text-align: center;
}

@keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.05);}
	100% { transform: scale(1);}
}

#onlinepanel {
	height: 25px;
	padding: 3px;
	display: flex;
	gap: 3px;
}

#connproblems {
	text-align:center;
	transition: opacity .5s;
	position: absolute;
	opacity: 0;
	bottom: 80px;
	z-index: 22;
	font-family: 'mono';
}

#chatPanel {
	display: flex; flex-flow: column;
	gap: 5px;
	position: absolute;
	top: 20px;
	width: 330px;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	transform: translateX(calc(100% + 20px));
	transition: transform .2s;
}
#chatPanel[open] {
	transform: translateX(0);
}

.chat-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center
}

#ad {
	/* Default: 'Advertise here', will be overriden in element style */
	--adurl: url(https://media.discordapp.net/attachments/823957581545734204/1133043136382386177/ad.png)
    display: block;
    aspect-ratio: 2/1;
    flex-shrink: 0;
    background-image: var(--adurl);
    background-position: center;
    background-size: contain;
    max-height: 180px;
    background-repeat: no-repeat;
	position: relative;
	overflow: clip;
}

#ad::before {
    content: " ";
    background-image: var(--adurl);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    transform: scale(1.5);
    filter: blur(6px) saturate(1.2);	
}

#chatPreviousButton {
	background: none;
	border: none;
	color: gray;
	font-weight: bold;
	display: flex;
	cursor: pointer;
	column-gap: 4px;
	transition: .2s transform, .2s height;
}
#chatPreviousButton > hr {
	flex-grow: 1;
	height: 1px;
	margin-top: 8px;
	opacity: 0.2;
}
#chatPreviousButton > span {
	font-size: 14px;
}

#chatMessages {
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-family: mono;
	white-space: pre-wrap;
	overflow: auto;
	flex-grow: 1;
}

#chatMessages, #chatMessages * {
    touch-action: pan-y;
}

#chatMessages > div {
	position: relative;
	transition: .2s background-color;
}

#chatMessages .special-glow {
	animation: text-glow 1s ease-in-out infinite alternate;
}

#chatMessages > div:hover {
    background-color: #d3d3d333;
	border-radius: 4px;
}

#chatMessages > div[highlight] {
	background-color: #4dd77780;
}

#chatMessages > div[mention] {
	background-color: #ffff0080;
}

#chatMessages > div[reply] {
	background-color: #e4efff;
}

#chatMessages > div > p {
	border-left: 4px solid gray;
	padding: 2px 4px 2px 8px;
	font-size: 12px;
	margin-left: 1px;
	opacity: 0.8;
	font-style: italic;
	user-select: none;
	border-radius: 2px 0px 0px 0px;
}

#chatMessages > div > span:nth-of-type(1) {
	cursor: pointer;
}

#chatMessages > div > div {
	position: absolute;
	right: 0px;
	top: -4px;
	display: flex;
	border-radius: 4px;
	padding: 0px 4px;
	border: 1px solid grey;
	font-size: 70%;
	font-weight: 700;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
	column-gap: 2px;
	opacity: 0;
	transition: .2s opacity;
}

#chatMessages > div:hover > div {
	opacity: 1;
	cursor: pointer;
}

@keyframes text-glow {
	0% { text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #00e62f, 0 0 4px #00e64f, 0 0 5px #07e600, 0 0 6px #00e60e, 0 0 7px #0bcc4d; }
	25% { text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #007ae6, 0 0 4px #009be6, 0 0 5px #007ae6, 0 0 6px #00a5e6, 0 0 7px #0b72cc }
	50% { text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #dfe600, 0 0 4px #e6e200, 0 0 5px #e6c200, 0 0 6px #e6c200, 0 0 7px #cc930b; }
	75% { text-shadow: 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6; }
	100% { text-shadow: 0 0 2px #fff, 0 0 3px #ffb6a5, 0 0 4px #ff4d4d, 0 0 5px #ff554d, 0 0 6px #ff4d4d, 0 0 7px #ff5e4d, 0 0 8px #ff6e4d; }
}

.channels-options {
	position: relative;
	height: 25px;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	padding: 0 3px;
	gap: 2px;
}

.channels-options > span {
	flex: auto;
	line-height: 25px;
	text-align: center;
	border-radius: 20px 0px 0px 20px;
	background-color: transparent;
	white-space: nowrap;
}

#captchaPopup {
	z-index: 7;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	height: fit-content;
	width: 450px;
	padding: 24px;
	border-radius: 8px;
	background-color: white;
	overflow: hidden;
	flex-direction: column;
	row-gap: 16px;
}

/* Captcha buttons container on captcha popup */
#captchaPopup > div {
	display: grid;
	row-gap: 8px;
	column-gap: 8px;
	grid-template-columns: auto auto auto auto auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
}

#captchaPopup::before {
	background: url(svg/pattern.svg);
	background-size: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	content: " ";
	animation: pattern-scroll 2s infinite;
	background-size: 50px;
	opacity: 0.1;
	z-index: -1;
}

/* We make it slightly more mobile usable by shrinking captcha buttons for really small phones */
#captchaOptions > input {
	width: auto;
	cursor: pointer;
	box-shadow: 0px 0px 5px gray;
	transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) .1s;
}

#captchaOptions > input:hover {
	transform: scale(1.1);
}

#captchaImg {
	display: block;
	border: 1px solid grey;
	position: relative;
	width: 196px;
	height: 196px;
	border-radius: 5px;
	image-rendering: pixelated;
	align-self: center;
}

@media screen and (max-width:700px) {
	#captchaPopup {
		width: calc(100% - 16px);
		height: unset;
		padding: 16px;
	}

	#captchaPopup > div {
		row-gap: 4px;
		column-gap: 4px;
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	#chatPanel {
		left: 20px;
		width: unset;
	}

	#palettePin {
		position: relative;
		bottom: 38px;
		z-index: 1;
	}
}

/* Used by messageTypePanel and messageEmojisPanel, displays just above chat input */
.chat-input-panel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100px;
	width: 100%;
	overflow: clip;
	transition: .3s height, .0s visibility, .2s opacity;
	transition-delay: 0s, .2s;
}
.chat-input-panel[closed] {
	height: 0px;
	visibility: hidden;
	opacity: 0;
}
#messageEmojisPanel {
	height: auto;
	padding-bottom: 48px;
	overflow-clip-margin: content-box;
	overflow-y: clip;
}
#messageEmojisPanel > div {
	margin: 8px;
	margin-bottom: 4px;
	border-radius: 4px;
	padding: 8px;
	display: flex;
	user-select: none;
}
#messageEmojisPanel > div > span {
	flex-grow: 1;
}
#messageEmojisPanel > div:hover {
	background: lightgrey;
}
#messageReplyPanel {
	height: 84px;
	display: flex;
}
#messageReplyPanel > div:nth-child(1) {
	flex-grow: 1;
}

#chatPunishPanel {
	position: absolute;
	top: 50%;
	margin: 8px;
	width: calc(100% - 16px);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	row-gap: 4px;
}

.messageTypeBtn {
	width: calc(50% - 10px);
	margin-bottom: 5px;
	cursor: pointer;
	position: absolute;
	box-shadow: none;
	border: 1px solid lightgray;
}

#namePanel {
	z-index: 2;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 10px;
	left: 0
}

.name-input-container {
	display: flex;
	column-gap: 4px;
}

#nameInput {
	flex-grow: 1;
	height: 40px;
}

.name-input-container > button {
	width: 40px;
	height: 40px;
}

.toastMenu {
	position: absolute;
	display: none;
	top: 60px;
	left: 50%;
	width: 380px;
	z-index: 5;
	transform: translateX(-50%)
}

.toastMenu[opened] {
	display: block;
}

#serverInput {
	width: 100%;
}

.languageButton {
	font-size: xx-large;
	border: 0px solid black;
	background-color: transparent;
	transition: transform .2s;
	cursor: pointer;
}

.languageButton:hover {
	transform: scale(1.2);
}

#timelapsePanel {
	position: absolute;
	z-index: 20;
	padding: 10px;
	background: linear-gradient(white 0%, white 79%, gray 80%, #DAE0E6 80%);
	width: 360px;
	height: 540px;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	border-radius: 4px;
	border: 2px solid gray;
}

.tooltip {
	cursor: pointer;
	width: 120px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	padding: 5px 0;
	position: absolute;
	z-index: 8;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
    transition: opacity .2s ease-out;
}

.tooltip::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}

kbd {
	border-radius: 5px;
	padding: 2px 4px;
	border: 1px solid grey;
	font-size: 70%;
	font-weight: 700;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
}

.context-menu {
	position: absolute;
	transform: translateX(5px);
	padding: 5px;
	transition: transform .1s;
	z-index: 2;
}
.context-menu ul {
	padding: 0px;
	margin: 0px;
	min-width: 150px;
	list-style: none;
}
.context-menu > ul > li {
	padding: 5px;
}
.context-menu > ul > li > a {
	text-decoration: none;
	color: black;
	display: block;
}

/* TODO: Classify  to generealise functionality */
#themeDrop, #themeDrop *, #channelDrop, #channelDrop * {
	touch-action: pan-y;
}
#channelDrop {
	overflow-y: scroll;
	max-height: 400px;
	left: -8px;
	top: 30px;
	display: none;
}
#channelDrop > ul > li {
	display: flex;
}
#channelDrop > ul > li > span {
	flex-grow: 1;
	text-align: left;
}

/* TODO: Classify to generalise functionality, perhaps class context-menu-parent */
#channelDropParent[open] > #channelDrop {
	display: block;
}
#channelDropParent[open] > svg {
	transform: rotate(180deg);
}

#themeDrop {
	display: none;
}
#themeDropParent[open] > #themeDrop {
	display: block;
}
#themeDropParent[open] > svg {
	transform: rotate(180deg);
}

@keyframes rainbow-text {
	0% {color: #e87d7d;}
	2% {color: #e88a7d;}
	4% {color: #e8977d;}
	6% {color: #e8a47d;}
	8% {color: #e8b07d;}
	10% {color: #e8bd7d;}
	12% {color: #e8ca7d;}
	14% {color: #e8d77d;}
	16% {color: #e8e47d;}
	18% {color: #dfe87d;}
	20% {color: #d3e87d;}
	22% {color: #c6e87d;}
	24% {color: #b9e87d;}
	26% {color: #ace87d;}
	28% {color: #9fe87d;}
	30% {color: #92e87d;}
	32% {color: #86e87d;}
	34% {color: #7de881;}
	36% {color: #7de88e;}
	38% {color: #7de89b;}
	40% {color: #7de8a8;}
	42% {color: #7de8b5;}
	44% {color: #7de8c1;}
	46% {color: #7de8ce;}
	48% {color: #7de8db;}
	50% {color: #7de8e8;}
	52% {color: #7ddbe8;}
	54% {color: #7dcee8;}
	56% {color: #7dc1e8;}
	58% {color: #7db5e8;}
	60% {color: #7da8e8;}
	62% {color: #7d9be8;}
	64% {color: #7d8ee8;}
	66% {color: #7d81e8;}
	68% {color: #867de8;}
	70% {color: #927de8;}
	72% {color: #9f7de8;}
	74% {color: #ac7de8;}
	76% {color: #b97de8;}
	78% {color: #c67de8;}
	80% {color: #d37de8;}
	82% {color: #df7de8;}
	84% {color: #e87de4;}
	86% {color: #e87dd7;}
	88% {color: #e87dca;}
	90% {color: #e87dbd;}
	92% {color: #e87db0;}
	94% {color: #e87da4;}
	96% {color: #e87d97;}
	98% {color: #e87d8a;}
	100% {color: #e87d7d;}
}
.rainbow-text {
	animation: rainbow-text 5s infinite;
}

#out #maincontent {
	height: 60%;
	transition: height .5s;

}
#out #more{
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	display: block;
	z-index: 20;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	visibility: visible;
}
#more {
	display: flex;
	visibility: hidden;
	overflow: auto;
	touch-action: pan-y;
}
#more *{touch-action: pan-y;}
#out #closebtn{ display: none }

#out #more #spaceFiller {
	display: block;
	height: 60vh;
	width: 100%;
	flex-shrink: 0;
}

#spaceFiller {
	height: 100vh;
	transition: .5s height;
}

#more #contents {
	background: #dae0e6;
	width: 100%;
	flex: 1;
	left: 0px;
	bottom: 0px;
	padding: 15px 30px 30px 30px;
	overflow: visible;
}
#more #contents > div{
	border: 1px #ccc solid;
	border-radius: 4px;
	background: #fff;
	margin: 0 auto;
	max-width: 640px;
	min-width: 250px;
	padding: 8px 16px;
	padding-left: 48px;
	margin-bottom: 15px;
	cursor: pointer;
	display: flex;
	gap: 10px;
	color: #aaa;
	position: relative;
	overflow: hidden;
}
up{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40px;
	background: #f8f9fa;
}
up svg{
	fill: #888a8c;
	position: absolute;
	left: 8px;
	top: 5px;
	border-radius: 2px;
	padding: 3px;
}
up svg:hover{
	fill: #cc3700;
	background: #1a1a1b1a;
}

up div{
	position: absolute;
	left: 0; right: 0;
	top: 30px;
	text-align: center;
	color: #888a8c;
}
#more #contents > .post > div {
	flex: 1;
	margin: 3px 0;
}
#more #contents > .post > div > div { color: #000; }
#more #contents > .post > img {
	width: 40px;
	height: 40px;
}

#postInput {
	all: unset;
	background-color: #F6F7F8;
	border-radius: 4px;
	border: 1px solid #EDEFF1;
	box-shadow: none;
	box-sizing: border-box;
	color: #1c1c1c;
	display: block;
	flex-grow: 1;
	height: 38px;
	margin-right: 8px;
	outline: none;
	padding: 0 16px;
	margin-top: 4px;
	font-size: 16px;
	min-width: 5px;
}
#postInput:hover {
	background-color: #FFFFFF;
	border: 1px solid #0079D3;
}

.virtselect {
	max-width: 100% !important;
	margin-bottom: 5px;
}

.virtselect input {
	box-shadow: none !important;
	border-radius: 0px !important;
}

placechat {
	display: flex;
	column-gap: 1px;
	background: white;
	position: absolute;
	height: 4px;
	border-radius: 1.5px;
	font-size: 2px;
	padding: 0px 1px 0px 1px;
	text-align: center;
	z-index: 3;
	box-shadow: 0px 0px 1px black;
	transform: translateX(-50%) translateY(-150%);
	max-width: 65px;
	min-width: 8px;
}

placechat::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -2px;
	border-width: 2px;
	border-style: solid;
	border-color: white transparent transparent transparent;
}

placechat span {
	font-size: 2px;
	align-self: center;
}

postcopy {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.7;
}

postcopy span {
	width: 132px;
	height: 24px;
	position: absolute;
	right: 48px;
	top: 50%;
	transform: translateY(-50%);
	line-height: 24px;
	transition: 1s opacity;
	white-space: nowrap;
	pointer-events: none;
}

/* Reddit-themed styles ported from the instance manager*/
.reddit-modal {
	border: 1px solid gray;
	border-radius: 4px;
	background-color: #f0f0f0;
	height: 600px;
	width: min(800px, 100% - 16px);
	box-shadow: 0px 0px 12px black;
	overflow: clip;
	display: flex;
}
.reddit-modal {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
}
.reddit-modal p, a, span { font-size: 16px; }
.reddit-modal p {
	margin-top: 20px;
	margin-bottom: 20px;
}
.reddit-modal .header {
	color: black;
	padding: 16px;
	background: url(images/reddit-login-banner.png);
	background-size: cover;
	min-width: 144px;
}
.reddit-modal .body {
	margin: 8px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.reddit-modal, .body, .reddit-modal .body {
	touch-action: manipulation;
}
@media (orientation: portrait) {
	.reddit-modal {
		flex-direction: column;
		position: relative;
	}
	.reddit-modal .header {
		background: #343536;
		color: white;
	}
	.reddit-modal .confirm-button {
		position: absolute;
		bottom: 8px;
		width: calc(100% - 16px);
	}
	.reddit-card {
		flex-direction: column;
		height: fit-content !important;
	}
}
.reddit-modal input {
	all: unset;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	font-size: 14px;
	outline: none;
	height: 14px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: white;
}
.reddit-modal input[type=file]::file-selector-button {
	all: unset;
	border-radius: 5px;
	background-color: white;
	border: 0px solid black;
	box-shadow: none;
	height: 100%;
}
.reddit-modal input[type=file] {
	height: 48px;
	background-color: transparent;
}
.reddit-modal input:focus {
	border-color: #369;
	box-shadow: 0 0 5px #ccc;
}
.reddit-modal button {
	all: unset;
	display: inline-block;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	background-color: #cee3f8;
	color: #1a1a1b;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}
.reddit-modal button:hover {
	background-color: #b0c8e6;
}
.reddit-card {
	height: 150px;
	margin: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
	background: white;
	display: flex;
	column-gap: 16px;
}

.profile-section > p {
	margin-top: 0px;
	margin-bottom: revert;
	font-weight: 600;
}
.profile-section > div {
	margin: 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	transition: .2s all;

}
.profile-section > div[profileeditable]:hover {
	overflow: visible;
	background-color: white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.243);
	border-radius: 4px;
	min-width: fit-content;
	z-index: 2;
	padding: 4px;
}
.profile-section > div > img {
	border-radius: 100%;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
    height: calc(60.4vmin + 36px);
    background: white;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 0 0 1000px #0004, 0 0 100px #000;
}
